.list {
  margin: 0;
  padding: 0;
}

.none {
  list-style-type: none;
}

.disc {
  list-style-type: disc;
  padding-left: 1.5em;
}

.decimal {
  list-style-type: decimal;
  padding-left: 1.5em;
}

.listItem {
  margin: 0;
}

.listIcon {
  width: 1.25em;
  height: 1.25em;
}
