/* padding-top */
.pt { padding-top: var(--t-pt); }
.pt\:h:hover { padding-top: var(--t-pt-h); }
.pt\:f:focus { padding-top: var(--t-pt-f); }
.pt\:a:active { padding-top: var(--t-pt-a); }
.pt\:d:disabled { padding-top: var(--t-pt-d); }

@media (min-width: 640px) {
  .pt_sm { padding-top: var(--t-pt_sm); }
  .pt_sm\:h:hover { padding-top: var(--t-pt_sm-h); }
  .pt_sm\:f:focus { padding-top: var(--t-pt_sm-f); }
  .pt_sm\:a:active { padding-top: var(--t-pt_sm-a); }
  .pt_sm\:d:disabled { padding-top: var(--t-pt_sm-d); }
}

@media (min-width: 768px) {
  .pt_md { padding-top: var(--t-pt_md); }
  .pt_md\:h:hover { padding-top: var(--t-pt_md-h); }
  .pt_md\:f:focus { padding-top: var(--t-pt_md-f); }
  .pt_md\:a:active { padding-top: var(--t-pt_md-a); }
  .pt_md\:d:disabled { padding-top: var(--t-pt_md-d); }
}

@media (min-width: 1024px) {
  .pt_lg { padding-top: var(--t-pt_lg); }
  .pt_lg\:h:hover { padding-top: var(--t-pt_lg-h); }
  .pt_lg\:f:focus { padding-top: var(--t-pt_lg-f); }
  .pt_lg\:a:active { padding-top: var(--t-pt_lg-a); }
  .pt_lg\:d:disabled { padding-top: var(--t-pt_lg-d); }
}

@media (min-width: 1280px) {
  .pt_xl { padding-top: var(--t-pt_xl); }
  .pt_xl\:h:hover { padding-top: var(--t-pt_xl-h); }
  .pt_xl\:f:focus { padding-top: var(--t-pt_xl-f); }
  .pt_xl\:a:active { padding-top: var(--t-pt_xl-a); }
  .pt_xl\:d:disabled { padding-top: var(--t-pt_xl-d); }
}

@media (min-width: 1536px) {
  .pt_2xl { padding-top: var(--t-pt_2xl); }
  .pt_2xl\:h:hover { padding-top: var(--t-pt_2xl-h); }
  .pt_2xl\:f:focus { padding-top: var(--t-pt_2xl-f); }
  .pt_2xl\:a:active { padding-top: var(--t-pt_2xl-a); }
  .pt_2xl\:d:disabled { padding-top: var(--t-pt_2xl-d); }
}

/* padding-right */
.pr { padding-right: var(--t-pr); }
.pr\:h:hover { padding-right: var(--t-pr-h); }
.pr\:f:focus { padding-right: var(--t-pr-f); }
.pr\:a:active { padding-right: var(--t-pr-a); }
.pr\:d:disabled { padding-right: var(--t-pr-d); }

@media (min-width: 640px) {
  .pr_sm { padding-right: var(--t-pr_sm); }
  .pr_sm\:h:hover { padding-right: var(--t-pr_sm-h); }
  .pr_sm\:f:focus { padding-right: var(--t-pr_sm-f); }
  .pr_sm\:a:active { padding-right: var(--t-pr_sm-a); }
  .pr_sm\:d:disabled { padding-right: var(--t-pr_sm-d); }
}

@media (min-width: 768px) {
  .pr_md { padding-right: var(--t-pr_md); }
  .pr_md\:h:hover { padding-right: var(--t-pr_md-h); }
  .pr_md\:f:focus { padding-right: var(--t-pr_md-f); }
  .pr_md\:a:active { padding-right: var(--t-pr_md-a); }
  .pr_md\:d:disabled { padding-right: var(--t-pr_md-d); }
}

@media (min-width: 1024px) {
  .pr_lg { padding-right: var(--t-pr_lg); }
  .pr_lg\:h:hover { padding-right: var(--t-pr_lg-h); }
  .pr_lg\:f:focus { padding-right: var(--t-pr_lg-f); }
  .pr_lg\:a:active { padding-right: var(--t-pr_lg-a); }
  .pr_lg\:d:disabled { padding-right: var(--t-pr_lg-d); }
}

@media (min-width: 1280px) {
  .pr_xl { padding-right: var(--t-pr_xl); }
  .pr_xl\:h:hover { padding-right: var(--t-pr_xl-h); }
  .pr_xl\:f:focus { padding-right: var(--t-pr_xl-f); }
  .pr_xl\:a:active { padding-right: var(--t-pr_xl-a); }
  .pr_xl\:d:disabled { padding-right: var(--t-pr_xl-d); }
}

@media (min-width: 1536px) {
  .pr_2xl { padding-right: var(--t-pr_2xl); }
  .pr_2xl\:h:hover { padding-right: var(--t-pr_2xl-h); }
  .pr_2xl\:f:focus { padding-right: var(--t-pr_2xl-f); }
  .pr_2xl\:a:active { padding-right: var(--t-pr_2xl-a); }
  .pr_2xl\:d:disabled { padding-right: var(--t-pr_2xl-d); }
}

/* padding-bottom */
.pb { padding-bottom: var(--t-pb); }
.pb\:h:hover { padding-bottom: var(--t-pb-h); }
.pb\:f:focus { padding-bottom: var(--t-pb-f); }
.pb\:a:active { padding-bottom: var(--t-pb-a); }
.pb\:d:disabled { padding-bottom: var(--t-pb-d); }

@media (min-width: 640px) {
  .pb_sm { padding-bottom: var(--t-pb_sm); }
  .pb_sm\:h:hover { padding-bottom: var(--t-pb_sm-h); }
  .pb_sm\:f:focus { padding-bottom: var(--t-pb_sm-f); }
  .pb_sm\:a:active { padding-bottom: var(--t-pb_sm-a); }
  .pb_sm\:d:disabled { padding-bottom: var(--t-pb_sm-d); }
}

@media (min-width: 768px) {
  .pb_md { padding-bottom: var(--t-pb_md); }
  .pb_md\:h:hover { padding-bottom: var(--t-pb_md-h); }
  .pb_md\:f:focus { padding-bottom: var(--t-pb_md-f); }
  .pb_md\:a:active { padding-bottom: var(--t-pb_md-a); }
  .pb_md\:d:disabled { padding-bottom: var(--t-pb_md-d); }
}

@media (min-width: 1024px) {
  .pb_lg { padding-bottom: var(--t-pb_lg); }
  .pb_lg\:h:hover { padding-bottom: var(--t-pb_lg-h); }
  .pb_lg\:f:focus { padding-bottom: var(--t-pb_lg-f); }
  .pb_lg\:a:active { padding-bottom: var(--t-pb_lg-a); }
  .pb_lg\:d:disabled { padding-bottom: var(--t-pb_lg-d); }
}

@media (min-width: 1280px) {
  .pb_xl { padding-bottom: var(--t-pb_xl); }
  .pb_xl\:h:hover { padding-bottom: var(--t-pb_xl-h); }
  .pb_xl\:f:focus { padding-bottom: var(--t-pb_xl-f); }
  .pb_xl\:a:active { padding-bottom: var(--t-pb_xl-a); }
  .pb_xl\:d:disabled { padding-bottom: var(--t-pb_xl-d); }
}

@media (min-width: 1536px) {
  .pb_2xl { padding-bottom: var(--t-pb_2xl); }
  .pb_2xl\:h:hover { padding-bottom: var(--t-pb_2xl-h); }
  .pb_2xl\:f:focus { padding-bottom: var(--t-pb_2xl-f); }
  .pb_2xl\:a:active { padding-bottom: var(--t-pb_2xl-a); }
  .pb_2xl\:d:disabled { padding-bottom: var(--t-pb_2xl-d); }
}

/* padding-left */
.pl { padding-left: var(--t-pl); }
.pl\:h:hover { padding-left: var(--t-pl-h); }
.pl\:f:focus { padding-left: var(--t-pl-f); }
.pl\:a:active { padding-left: var(--t-pl-a); }
.pl\:d:disabled { padding-left: var(--t-pl-d); }

@media (min-width: 640px) {
  .pl_sm { padding-left: var(--t-pl_sm); }
  .pl_sm\:h:hover { padding-left: var(--t-pl_sm-h); }
  .pl_sm\:f:focus { padding-left: var(--t-pl_sm-f); }
  .pl_sm\:a:active { padding-left: var(--t-pl_sm-a); }
  .pl_sm\:d:disabled { padding-left: var(--t-pl_sm-d); }
}

@media (min-width: 768px) {
  .pl_md { padding-left: var(--t-pl_md); }
  .pl_md\:h:hover { padding-left: var(--t-pl_md-h); }
  .pl_md\:f:focus { padding-left: var(--t-pl_md-f); }
  .pl_md\:a:active { padding-left: var(--t-pl_md-a); }
  .pl_md\:d:disabled { padding-left: var(--t-pl_md-d); }
}

@media (min-width: 1024px) {
  .pl_lg { padding-left: var(--t-pl_lg); }
  .pl_lg\:h:hover { padding-left: var(--t-pl_lg-h); }
  .pl_lg\:f:focus { padding-left: var(--t-pl_lg-f); }
  .pl_lg\:a:active { padding-left: var(--t-pl_lg-a); }
  .pl_lg\:d:disabled { padding-left: var(--t-pl_lg-d); }
}

@media (min-width: 1280px) {
  .pl_xl { padding-left: var(--t-pl_xl); }
  .pl_xl\:h:hover { padding-left: var(--t-pl_xl-h); }
  .pl_xl\:f:focus { padding-left: var(--t-pl_xl-f); }
  .pl_xl\:a:active { padding-left: var(--t-pl_xl-a); }
  .pl_xl\:d:disabled { padding-left: var(--t-pl_xl-d); }
}

@media (min-width: 1536px) {
  .pl_2xl { padding-left: var(--t-pl_2xl); }
  .pl_2xl\:h:hover { padding-left: var(--t-pl_2xl-h); }
  .pl_2xl\:f:focus { padding-left: var(--t-pl_2xl-f); }
  .pl_2xl\:a:active { padding-left: var(--t-pl_2xl-a); }
  .pl_2xl\:d:disabled { padding-left: var(--t-pl_2xl-d); }
}
