/* padding-top */
.pt { padding-top: var(--t-pt); }
.pt\:h:hover { padding-top: var(--t-pt-h); }
.pt\:f:focus { padding-top: var(--t-pt-f); }
.pt\:a:active { padding-top: var(--t-pt-a); }
.pt\:d:disabled { padding-top: var(--t-pt-d); }

@media (min-width: 640px) {
  .pt { padding-top: var(--t-pt_sm, var(--t-pt)); }
  .pt\:h:hover { padding-top: var(--t-pt_sm-h, var(--t-pt-h)); }
  .pt\:f:focus { padding-top: var(--t-pt_sm-f, var(--t-pt-f)); }
  .pt\:a:active { padding-top: var(--t-pt_sm-a, var(--t-pt-a)); }
  .pt\:d:disabled { padding-top: var(--t-pt_sm-d, var(--t-pt-d)); }
}

@media (min-width: 768px) {
  .pt { padding-top: var(--t-pt_md, var(--t-pt_sm, var(--t-pt))); }
  .pt\:h:hover { padding-top: var(--t-pt_md-h, var(--t-pt_sm-h, var(--t-pt-h))); }
  .pt\:f:focus { padding-top: var(--t-pt_md-f, var(--t-pt_sm-f, var(--t-pt-f))); }
  .pt\:a:active { padding-top: var(--t-pt_md-a, var(--t-pt_sm-a, var(--t-pt-a))); }
  .pt\:d:disabled { padding-top: var(--t-pt_md-d, var(--t-pt_sm-d, var(--t-pt-d))); }
}

@media (min-width: 1024px) {
  .pt { padding-top: var(--t-pt_lg, var(--t-pt_md, var(--t-pt_sm, var(--t-pt)))); }
  .pt\:h:hover { padding-top: var(--t-pt_lg-h, var(--t-pt_md-h, var(--t-pt_sm-h, var(--t-pt-h)))); }
  .pt\:f:focus { padding-top: var(--t-pt_lg-f, var(--t-pt_md-f, var(--t-pt_sm-f, var(--t-pt-f)))); }
  .pt\:a:active { padding-top: var(--t-pt_lg-a, var(--t-pt_md-a, var(--t-pt_sm-a, var(--t-pt-a)))); }
  .pt\:d:disabled { padding-top: var(--t-pt_lg-d, var(--t-pt_md-d, var(--t-pt_sm-d, var(--t-pt-d)))); }
}

@media (min-width: 1280px) {
  .pt { padding-top: var(--t-pt_xl, var(--t-pt_lg, var(--t-pt_md, var(--t-pt_sm, var(--t-pt))))); }
  .pt\:h:hover { padding-top: var(--t-pt_xl-h, var(--t-pt_lg-h, var(--t-pt_md-h, var(--t-pt_sm-h, var(--t-pt-h))))); }
  .pt\:f:focus { padding-top: var(--t-pt_xl-f, var(--t-pt_lg-f, var(--t-pt_md-f, var(--t-pt_sm-f, var(--t-pt-f))))); }
  .pt\:a:active { padding-top: var(--t-pt_xl-a, var(--t-pt_lg-a, var(--t-pt_md-a, var(--t-pt_sm-a, var(--t-pt-a))))); }
  .pt\:d:disabled { padding-top: var(--t-pt_xl-d, var(--t-pt_lg-d, var(--t-pt_md-d, var(--t-pt_sm-d, var(--t-pt-d))))); }
}

@media (min-width: 1536px) {
  .pt { padding-top: var(--t-pt_2xl, var(--t-pt_xl, var(--t-pt_lg, var(--t-pt_md, var(--t-pt_sm, var(--t-pt)))))); }
  .pt\:h:hover { padding-top: var(--t-pt_2xl-h, var(--t-pt_xl-h, var(--t-pt_lg-h, var(--t-pt_md-h, var(--t-pt_sm-h, var(--t-pt-h)))))); }
  .pt\:f:focus { padding-top: var(--t-pt_2xl-f, var(--t-pt_xl-f, var(--t-pt_lg-f, var(--t-pt_md-f, var(--t-pt_sm-f, var(--t-pt-f)))))); }
  .pt\:a:active { padding-top: var(--t-pt_2xl-a, var(--t-pt_xl-a, var(--t-pt_lg-a, var(--t-pt_md-a, var(--t-pt_sm-a, var(--t-pt-a)))))); }
  .pt\:d:disabled { padding-top: var(--t-pt_2xl-d, var(--t-pt_xl-d, var(--t-pt_lg-d, var(--t-pt_md-d, var(--t-pt_sm-d, var(--t-pt-d)))))); }
}

/* padding-right */
.pr { padding-right: var(--t-pr); }
.pr\:h:hover { padding-right: var(--t-pr-h); }
.pr\:f:focus { padding-right: var(--t-pr-f); }
.pr\:a:active { padding-right: var(--t-pr-a); }
.pr\:d:disabled { padding-right: var(--t-pr-d); }

@media (min-width: 640px) {
  .pr { padding-right: var(--t-pr_sm, var(--t-pr)); }
  .pr\:h:hover { padding-right: var(--t-pr_sm-h, var(--t-pr-h)); }
  .pr\:f:focus { padding-right: var(--t-pr_sm-f, var(--t-pr-f)); }
  .pr\:a:active { padding-right: var(--t-pr_sm-a, var(--t-pr-a)); }
  .pr\:d:disabled { padding-right: var(--t-pr_sm-d, var(--t-pr-d)); }
}

@media (min-width: 768px) {
  .pr { padding-right: var(--t-pr_md, var(--t-pr_sm, var(--t-pr))); }
  .pr\:h:hover { padding-right: var(--t-pr_md-h, var(--t-pr_sm-h, var(--t-pr-h))); }
  .pr\:f:focus { padding-right: var(--t-pr_md-f, var(--t-pr_sm-f, var(--t-pr-f))); }
  .pr\:a:active { padding-right: var(--t-pr_md-a, var(--t-pr_sm-a, var(--t-pr-a))); }
  .pr\:d:disabled { padding-right: var(--t-pr_md-d, var(--t-pr_sm-d, var(--t-pr-d))); }
}

@media (min-width: 1024px) {
  .pr { padding-right: var(--t-pr_lg, var(--t-pr_md, var(--t-pr_sm, var(--t-pr)))); }
  .pr\:h:hover { padding-right: var(--t-pr_lg-h, var(--t-pr_md-h, var(--t-pr_sm-h, var(--t-pr-h)))); }
  .pr\:f:focus { padding-right: var(--t-pr_lg-f, var(--t-pr_md-f, var(--t-pr_sm-f, var(--t-pr-f)))); }
  .pr\:a:active { padding-right: var(--t-pr_lg-a, var(--t-pr_md-a, var(--t-pr_sm-a, var(--t-pr-a)))); }
  .pr\:d:disabled { padding-right: var(--t-pr_lg-d, var(--t-pr_md-d, var(--t-pr_sm-d, var(--t-pr-d)))); }
}

@media (min-width: 1280px) {
  .pr { padding-right: var(--t-pr_xl, var(--t-pr_lg, var(--t-pr_md, var(--t-pr_sm, var(--t-pr))))); }
  .pr\:h:hover { padding-right: var(--t-pr_xl-h, var(--t-pr_lg-h, var(--t-pr_md-h, var(--t-pr_sm-h, var(--t-pr-h))))); }
  .pr\:f:focus { padding-right: var(--t-pr_xl-f, var(--t-pr_lg-f, var(--t-pr_md-f, var(--t-pr_sm-f, var(--t-pr-f))))); }
  .pr\:a:active { padding-right: var(--t-pr_xl-a, var(--t-pr_lg-a, var(--t-pr_md-a, var(--t-pr_sm-a, var(--t-pr-a))))); }
  .pr\:d:disabled { padding-right: var(--t-pr_xl-d, var(--t-pr_lg-d, var(--t-pr_md-d, var(--t-pr_sm-d, var(--t-pr-d))))); }
}

@media (min-width: 1536px) {
  .pr { padding-right: var(--t-pr_2xl, var(--t-pr_xl, var(--t-pr_lg, var(--t-pr_md, var(--t-pr_sm, var(--t-pr)))))); }
  .pr\:h:hover { padding-right: var(--t-pr_2xl-h, var(--t-pr_xl-h, var(--t-pr_lg-h, var(--t-pr_md-h, var(--t-pr_sm-h, var(--t-pr-h)))))); }
  .pr\:f:focus { padding-right: var(--t-pr_2xl-f, var(--t-pr_xl-f, var(--t-pr_lg-f, var(--t-pr_md-f, var(--t-pr_sm-f, var(--t-pr-f)))))); }
  .pr\:a:active { padding-right: var(--t-pr_2xl-a, var(--t-pr_xl-a, var(--t-pr_lg-a, var(--t-pr_md-a, var(--t-pr_sm-a, var(--t-pr-a)))))); }
  .pr\:d:disabled { padding-right: var(--t-pr_2xl-d, var(--t-pr_xl-d, var(--t-pr_lg-d, var(--t-pr_md-d, var(--t-pr_sm-d, var(--t-pr-d)))))); }
}

/* padding-bottom */
.pb { padding-bottom: var(--t-pb); }
.pb\:h:hover { padding-bottom: var(--t-pb-h); }
.pb\:f:focus { padding-bottom: var(--t-pb-f); }
.pb\:a:active { padding-bottom: var(--t-pb-a); }
.pb\:d:disabled { padding-bottom: var(--t-pb-d); }

@media (min-width: 640px) {
  .pb { padding-bottom: var(--t-pb_sm, var(--t-pb)); }
  .pb\:h:hover { padding-bottom: var(--t-pb_sm-h, var(--t-pb-h)); }
  .pb\:f:focus { padding-bottom: var(--t-pb_sm-f, var(--t-pb-f)); }
  .pb\:a:active { padding-bottom: var(--t-pb_sm-a, var(--t-pb-a)); }
  .pb\:d:disabled { padding-bottom: var(--t-pb_sm-d, var(--t-pb-d)); }
}

@media (min-width: 768px) {
  .pb { padding-bottom: var(--t-pb_md, var(--t-pb_sm, var(--t-pb))); }
  .pb\:h:hover { padding-bottom: var(--t-pb_md-h, var(--t-pb_sm-h, var(--t-pb-h))); }
  .pb\:f:focus { padding-bottom: var(--t-pb_md-f, var(--t-pb_sm-f, var(--t-pb-f))); }
  .pb\:a:active { padding-bottom: var(--t-pb_md-a, var(--t-pb_sm-a, var(--t-pb-a))); }
  .pb\:d:disabled { padding-bottom: var(--t-pb_md-d, var(--t-pb_sm-d, var(--t-pb-d))); }
}

@media (min-width: 1024px) {
  .pb { padding-bottom: var(--t-pb_lg, var(--t-pb_md, var(--t-pb_sm, var(--t-pb)))); }
  .pb\:h:hover { padding-bottom: var(--t-pb_lg-h, var(--t-pb_md-h, var(--t-pb_sm-h, var(--t-pb-h)))); }
  .pb\:f:focus { padding-bottom: var(--t-pb_lg-f, var(--t-pb_md-f, var(--t-pb_sm-f, var(--t-pb-f)))); }
  .pb\:a:active { padding-bottom: var(--t-pb_lg-a, var(--t-pb_md-a, var(--t-pb_sm-a, var(--t-pb-a)))); }
  .pb\:d:disabled { padding-bottom: var(--t-pb_lg-d, var(--t-pb_md-d, var(--t-pb_sm-d, var(--t-pb-d)))); }
}

@media (min-width: 1280px) {
  .pb { padding-bottom: var(--t-pb_xl, var(--t-pb_lg, var(--t-pb_md, var(--t-pb_sm, var(--t-pb))))); }
  .pb\:h:hover { padding-bottom: var(--t-pb_xl-h, var(--t-pb_lg-h, var(--t-pb_md-h, var(--t-pb_sm-h, var(--t-pb-h))))); }
  .pb\:f:focus { padding-bottom: var(--t-pb_xl-f, var(--t-pb_lg-f, var(--t-pb_md-f, var(--t-pb_sm-f, var(--t-pb-f))))); }
  .pb\:a:active { padding-bottom: var(--t-pb_xl-a, var(--t-pb_lg-a, var(--t-pb_md-a, var(--t-pb_sm-a, var(--t-pb-a))))); }
  .pb\:d:disabled { padding-bottom: var(--t-pb_xl-d, var(--t-pb_lg-d, var(--t-pb_md-d, var(--t-pb_sm-d, var(--t-pb-d))))); }
}

@media (min-width: 1536px) {
  .pb { padding-bottom: var(--t-pb_2xl, var(--t-pb_xl, var(--t-pb_lg, var(--t-pb_md, var(--t-pb_sm, var(--t-pb)))))); }
  .pb\:h:hover { padding-bottom: var(--t-pb_2xl-h, var(--t-pb_xl-h, var(--t-pb_lg-h, var(--t-pb_md-h, var(--t-pb_sm-h, var(--t-pb-h)))))); }
  .pb\:f:focus { padding-bottom: var(--t-pb_2xl-f, var(--t-pb_xl-f, var(--t-pb_lg-f, var(--t-pb_md-f, var(--t-pb_sm-f, var(--t-pb-f)))))); }
  .pb\:a:active { padding-bottom: var(--t-pb_2xl-a, var(--t-pb_xl-a, var(--t-pb_lg-a, var(--t-pb_md-a, var(--t-pb_sm-a, var(--t-pb-a)))))); }
  .pb\:d:disabled { padding-bottom: var(--t-pb_2xl-d, var(--t-pb_xl-d, var(--t-pb_lg-d, var(--t-pb_md-d, var(--t-pb_sm-d, var(--t-pb-d)))))); }
}

/* padding-left */
.pl { padding-left: var(--t-pl); }
.pl\:h:hover { padding-left: var(--t-pl-h); }
.pl\:f:focus { padding-left: var(--t-pl-f); }
.pl\:a:active { padding-left: var(--t-pl-a); }
.pl\:d:disabled { padding-left: var(--t-pl-d); }

@media (min-width: 640px) {
  .pl { padding-left: var(--t-pl_sm, var(--t-pl)); }
  .pl\:h:hover { padding-left: var(--t-pl_sm-h, var(--t-pl-h)); }
  .pl\:f:focus { padding-left: var(--t-pl_sm-f, var(--t-pl-f)); }
  .pl\:a:active { padding-left: var(--t-pl_sm-a, var(--t-pl-a)); }
  .pl\:d:disabled { padding-left: var(--t-pl_sm-d, var(--t-pl-d)); }
}

@media (min-width: 768px) {
  .pl { padding-left: var(--t-pl_md, var(--t-pl_sm, var(--t-pl))); }
  .pl\:h:hover { padding-left: var(--t-pl_md-h, var(--t-pl_sm-h, var(--t-pl-h))); }
  .pl\:f:focus { padding-left: var(--t-pl_md-f, var(--t-pl_sm-f, var(--t-pl-f))); }
  .pl\:a:active { padding-left: var(--t-pl_md-a, var(--t-pl_sm-a, var(--t-pl-a))); }
  .pl\:d:disabled { padding-left: var(--t-pl_md-d, var(--t-pl_sm-d, var(--t-pl-d))); }
}

@media (min-width: 1024px) {
  .pl { padding-left: var(--t-pl_lg, var(--t-pl_md, var(--t-pl_sm, var(--t-pl)))); }
  .pl\:h:hover { padding-left: var(--t-pl_lg-h, var(--t-pl_md-h, var(--t-pl_sm-h, var(--t-pl-h)))); }
  .pl\:f:focus { padding-left: var(--t-pl_lg-f, var(--t-pl_md-f, var(--t-pl_sm-f, var(--t-pl-f)))); }
  .pl\:a:active { padding-left: var(--t-pl_lg-a, var(--t-pl_md-a, var(--t-pl_sm-a, var(--t-pl-a)))); }
  .pl\:d:disabled { padding-left: var(--t-pl_lg-d, var(--t-pl_md-d, var(--t-pl_sm-d, var(--t-pl-d)))); }
}

@media (min-width: 1280px) {
  .pl { padding-left: var(--t-pl_xl, var(--t-pl_lg, var(--t-pl_md, var(--t-pl_sm, var(--t-pl))))); }
  .pl\:h:hover { padding-left: var(--t-pl_xl-h, var(--t-pl_lg-h, var(--t-pl_md-h, var(--t-pl_sm-h, var(--t-pl-h))))); }
  .pl\:f:focus { padding-left: var(--t-pl_xl-f, var(--t-pl_lg-f, var(--t-pl_md-f, var(--t-pl_sm-f, var(--t-pl-f))))); }
  .pl\:a:active { padding-left: var(--t-pl_xl-a, var(--t-pl_lg-a, var(--t-pl_md-a, var(--t-pl_sm-a, var(--t-pl-a))))); }
  .pl\:d:disabled { padding-left: var(--t-pl_xl-d, var(--t-pl_lg-d, var(--t-pl_md-d, var(--t-pl_sm-d, var(--t-pl-d))))); }
}

@media (min-width: 1536px) {
  .pl { padding-left: var(--t-pl_2xl, var(--t-pl_xl, var(--t-pl_lg, var(--t-pl_md, var(--t-pl_sm, var(--t-pl)))))); }
  .pl\:h:hover { padding-left: var(--t-pl_2xl-h, var(--t-pl_xl-h, var(--t-pl_lg-h, var(--t-pl_md-h, var(--t-pl_sm-h, var(--t-pl-h)))))); }
  .pl\:f:focus { padding-left: var(--t-pl_2xl-f, var(--t-pl_xl-f, var(--t-pl_lg-f, var(--t-pl_md-f, var(--t-pl_sm-f, var(--t-pl-f)))))); }
  .pl\:a:active { padding-left: var(--t-pl_2xl-a, var(--t-pl_xl-a, var(--t-pl_lg-a, var(--t-pl_md-a, var(--t-pl_sm-a, var(--t-pl-a)))))); }
  .pl\:d:disabled { padding-left: var(--t-pl_2xl-d, var(--t-pl_xl-d, var(--t-pl_lg-d, var(--t-pl_md-d, var(--t-pl_sm-d, var(--t-pl-d)))))); }
}
