/* margin-top */
.mt { margin-top: var(--t-mt); }
.mt\:h:hover { margin-top: var(--t-mt-h); }
.mt\:f:focus { margin-top: var(--t-mt-f); }
.mt\:a:active { margin-top: var(--t-mt-a); }
.mt\:d:disabled { margin-top: var(--t-mt-d); }

@media (min-width: 640px) {
  .mt { margin-top: var(--t-mt_sm, var(--t-mt)); }
  .mt\:h:hover { margin-top: var(--t-mt_sm-h, var(--t-mt-h)); }
  .mt\:f:focus { margin-top: var(--t-mt_sm-f, var(--t-mt-f)); }
  .mt\:a:active { margin-top: var(--t-mt_sm-a, var(--t-mt-a)); }
  .mt\:d:disabled { margin-top: var(--t-mt_sm-d, var(--t-mt-d)); }
}

@media (min-width: 768px) {
  .mt { margin-top: var(--t-mt_md, var(--t-mt_sm, var(--t-mt))); }
  .mt\:h:hover { margin-top: var(--t-mt_md-h, var(--t-mt_sm-h, var(--t-mt-h))); }
  .mt\:f:focus { margin-top: var(--t-mt_md-f, var(--t-mt_sm-f, var(--t-mt-f))); }
  .mt\:a:active { margin-top: var(--t-mt_md-a, var(--t-mt_sm-a, var(--t-mt-a))); }
  .mt\:d:disabled { margin-top: var(--t-mt_md-d, var(--t-mt_sm-d, var(--t-mt-d))); }
}

@media (min-width: 1024px) {
  .mt { margin-top: var(--t-mt_lg, var(--t-mt_md, var(--t-mt_sm, var(--t-mt)))); }
  .mt\:h:hover { margin-top: var(--t-mt_lg-h, var(--t-mt_md-h, var(--t-mt_sm-h, var(--t-mt-h)))); }
  .mt\:f:focus { margin-top: var(--t-mt_lg-f, var(--t-mt_md-f, var(--t-mt_sm-f, var(--t-mt-f)))); }
  .mt\:a:active { margin-top: var(--t-mt_lg-a, var(--t-mt_md-a, var(--t-mt_sm-a, var(--t-mt-a)))); }
  .mt\:d:disabled { margin-top: var(--t-mt_lg-d, var(--t-mt_md-d, var(--t-mt_sm-d, var(--t-mt-d)))); }
}

@media (min-width: 1280px) {
  .mt { margin-top: var(--t-mt_xl, var(--t-mt_lg, var(--t-mt_md, var(--t-mt_sm, var(--t-mt))))); }
  .mt\:h:hover { margin-top: var(--t-mt_xl-h, var(--t-mt_lg-h, var(--t-mt_md-h, var(--t-mt_sm-h, var(--t-mt-h))))); }
  .mt\:f:focus { margin-top: var(--t-mt_xl-f, var(--t-mt_lg-f, var(--t-mt_md-f, var(--t-mt_sm-f, var(--t-mt-f))))); }
  .mt\:a:active { margin-top: var(--t-mt_xl-a, var(--t-mt_lg-a, var(--t-mt_md-a, var(--t-mt_sm-a, var(--t-mt-a))))); }
  .mt\:d:disabled { margin-top: var(--t-mt_xl-d, var(--t-mt_lg-d, var(--t-mt_md-d, var(--t-mt_sm-d, var(--t-mt-d))))); }
}

@media (min-width: 1536px) {
  .mt { margin-top: var(--t-mt_2xl, var(--t-mt_xl, var(--t-mt_lg, var(--t-mt_md, var(--t-mt_sm, var(--t-mt)))))); }
  .mt\:h:hover { margin-top: var(--t-mt_2xl-h, var(--t-mt_xl-h, var(--t-mt_lg-h, var(--t-mt_md-h, var(--t-mt_sm-h, var(--t-mt-h)))))); }
  .mt\:f:focus { margin-top: var(--t-mt_2xl-f, var(--t-mt_xl-f, var(--t-mt_lg-f, var(--t-mt_md-f, var(--t-mt_sm-f, var(--t-mt-f)))))); }
  .mt\:a:active { margin-top: var(--t-mt_2xl-a, var(--t-mt_xl-a, var(--t-mt_lg-a, var(--t-mt_md-a, var(--t-mt_sm-a, var(--t-mt-a)))))); }
  .mt\:d:disabled { margin-top: var(--t-mt_2xl-d, var(--t-mt_xl-d, var(--t-mt_lg-d, var(--t-mt_md-d, var(--t-mt_sm-d, var(--t-mt-d)))))); }
}

/* margin-right */
.mr { margin-right: var(--t-mr); }
.mr\:h:hover { margin-right: var(--t-mr-h); }
.mr\:f:focus { margin-right: var(--t-mr-f); }
.mr\:a:active { margin-right: var(--t-mr-a); }
.mr\:d:disabled { margin-right: var(--t-mr-d); }

@media (min-width: 640px) {
  .mr { margin-right: var(--t-mr_sm, var(--t-mr)); }
  .mr\:h:hover { margin-right: var(--t-mr_sm-h, var(--t-mr-h)); }
  .mr\:f:focus { margin-right: var(--t-mr_sm-f, var(--t-mr-f)); }
  .mr\:a:active { margin-right: var(--t-mr_sm-a, var(--t-mr-a)); }
  .mr\:d:disabled { margin-right: var(--t-mr_sm-d, var(--t-mr-d)); }
}

@media (min-width: 768px) {
  .mr { margin-right: var(--t-mr_md, var(--t-mr_sm, var(--t-mr))); }
  .mr\:h:hover { margin-right: var(--t-mr_md-h, var(--t-mr_sm-h, var(--t-mr-h))); }
  .mr\:f:focus { margin-right: var(--t-mr_md-f, var(--t-mr_sm-f, var(--t-mr-f))); }
  .mr\:a:active { margin-right: var(--t-mr_md-a, var(--t-mr_sm-a, var(--t-mr-a))); }
  .mr\:d:disabled { margin-right: var(--t-mr_md-d, var(--t-mr_sm-d, var(--t-mr-d))); }
}

@media (min-width: 1024px) {
  .mr { margin-right: var(--t-mr_lg, var(--t-mr_md, var(--t-mr_sm, var(--t-mr)))); }
  .mr\:h:hover { margin-right: var(--t-mr_lg-h, var(--t-mr_md-h, var(--t-mr_sm-h, var(--t-mr-h)))); }
  .mr\:f:focus { margin-right: var(--t-mr_lg-f, var(--t-mr_md-f, var(--t-mr_sm-f, var(--t-mr-f)))); }
  .mr\:a:active { margin-right: var(--t-mr_lg-a, var(--t-mr_md-a, var(--t-mr_sm-a, var(--t-mr-a)))); }
  .mr\:d:disabled { margin-right: var(--t-mr_lg-d, var(--t-mr_md-d, var(--t-mr_sm-d, var(--t-mr-d)))); }
}

@media (min-width: 1280px) {
  .mr { margin-right: var(--t-mr_xl, var(--t-mr_lg, var(--t-mr_md, var(--t-mr_sm, var(--t-mr))))); }
  .mr\:h:hover { margin-right: var(--t-mr_xl-h, var(--t-mr_lg-h, var(--t-mr_md-h, var(--t-mr_sm-h, var(--t-mr-h))))); }
  .mr\:f:focus { margin-right: var(--t-mr_xl-f, var(--t-mr_lg-f, var(--t-mr_md-f, var(--t-mr_sm-f, var(--t-mr-f))))); }
  .mr\:a:active { margin-right: var(--t-mr_xl-a, var(--t-mr_lg-a, var(--t-mr_md-a, var(--t-mr_sm-a, var(--t-mr-a))))); }
  .mr\:d:disabled { margin-right: var(--t-mr_xl-d, var(--t-mr_lg-d, var(--t-mr_md-d, var(--t-mr_sm-d, var(--t-mr-d))))); }
}

@media (min-width: 1536px) {
  .mr { margin-right: var(--t-mr_2xl, var(--t-mr_xl, var(--t-mr_lg, var(--t-mr_md, var(--t-mr_sm, var(--t-mr)))))); }
  .mr\:h:hover { margin-right: var(--t-mr_2xl-h, var(--t-mr_xl-h, var(--t-mr_lg-h, var(--t-mr_md-h, var(--t-mr_sm-h, var(--t-mr-h)))))); }
  .mr\:f:focus { margin-right: var(--t-mr_2xl-f, var(--t-mr_xl-f, var(--t-mr_lg-f, var(--t-mr_md-f, var(--t-mr_sm-f, var(--t-mr-f)))))); }
  .mr\:a:active { margin-right: var(--t-mr_2xl-a, var(--t-mr_xl-a, var(--t-mr_lg-a, var(--t-mr_md-a, var(--t-mr_sm-a, var(--t-mr-a)))))); }
  .mr\:d:disabled { margin-right: var(--t-mr_2xl-d, var(--t-mr_xl-d, var(--t-mr_lg-d, var(--t-mr_md-d, var(--t-mr_sm-d, var(--t-mr-d)))))); }
}

/* margin-bottom */
.mb { margin-bottom: var(--t-mb); }
.mb\:h:hover { margin-bottom: var(--t-mb-h); }
.mb\:f:focus { margin-bottom: var(--t-mb-f); }
.mb\:a:active { margin-bottom: var(--t-mb-a); }
.mb\:d:disabled { margin-bottom: var(--t-mb-d); }

@media (min-width: 640px) {
  .mb { margin-bottom: var(--t-mb_sm, var(--t-mb)); }
  .mb\:h:hover { margin-bottom: var(--t-mb_sm-h, var(--t-mb-h)); }
  .mb\:f:focus { margin-bottom: var(--t-mb_sm-f, var(--t-mb-f)); }
  .mb\:a:active { margin-bottom: var(--t-mb_sm-a, var(--t-mb-a)); }
  .mb\:d:disabled { margin-bottom: var(--t-mb_sm-d, var(--t-mb-d)); }
}

@media (min-width: 768px) {
  .mb { margin-bottom: var(--t-mb_md, var(--t-mb_sm, var(--t-mb))); }
  .mb\:h:hover { margin-bottom: var(--t-mb_md-h, var(--t-mb_sm-h, var(--t-mb-h))); }
  .mb\:f:focus { margin-bottom: var(--t-mb_md-f, var(--t-mb_sm-f, var(--t-mb-f))); }
  .mb\:a:active { margin-bottom: var(--t-mb_md-a, var(--t-mb_sm-a, var(--t-mb-a))); }
  .mb\:d:disabled { margin-bottom: var(--t-mb_md-d, var(--t-mb_sm-d, var(--t-mb-d))); }
}

@media (min-width: 1024px) {
  .mb { margin-bottom: var(--t-mb_lg, var(--t-mb_md, var(--t-mb_sm, var(--t-mb)))); }
  .mb\:h:hover { margin-bottom: var(--t-mb_lg-h, var(--t-mb_md-h, var(--t-mb_sm-h, var(--t-mb-h)))); }
  .mb\:f:focus { margin-bottom: var(--t-mb_lg-f, var(--t-mb_md-f, var(--t-mb_sm-f, var(--t-mb-f)))); }
  .mb\:a:active { margin-bottom: var(--t-mb_lg-a, var(--t-mb_md-a, var(--t-mb_sm-a, var(--t-mb-a)))); }
  .mb\:d:disabled { margin-bottom: var(--t-mb_lg-d, var(--t-mb_md-d, var(--t-mb_sm-d, var(--t-mb-d)))); }
}

@media (min-width: 1280px) {
  .mb { margin-bottom: var(--t-mb_xl, var(--t-mb_lg, var(--t-mb_md, var(--t-mb_sm, var(--t-mb))))); }
  .mb\:h:hover { margin-bottom: var(--t-mb_xl-h, var(--t-mb_lg-h, var(--t-mb_md-h, var(--t-mb_sm-h, var(--t-mb-h))))); }
  .mb\:f:focus { margin-bottom: var(--t-mb_xl-f, var(--t-mb_lg-f, var(--t-mb_md-f, var(--t-mb_sm-f, var(--t-mb-f))))); }
  .mb\:a:active { margin-bottom: var(--t-mb_xl-a, var(--t-mb_lg-a, var(--t-mb_md-a, var(--t-mb_sm-a, var(--t-mb-a))))); }
  .mb\:d:disabled { margin-bottom: var(--t-mb_xl-d, var(--t-mb_lg-d, var(--t-mb_md-d, var(--t-mb_sm-d, var(--t-mb-d))))); }
}

@media (min-width: 1536px) {
  .mb { margin-bottom: var(--t-mb_2xl, var(--t-mb_xl, var(--t-mb_lg, var(--t-mb_md, var(--t-mb_sm, var(--t-mb)))))); }
  .mb\:h:hover { margin-bottom: var(--t-mb_2xl-h, var(--t-mb_xl-h, var(--t-mb_lg-h, var(--t-mb_md-h, var(--t-mb_sm-h, var(--t-mb-h)))))); }
  .mb\:f:focus { margin-bottom: var(--t-mb_2xl-f, var(--t-mb_xl-f, var(--t-mb_lg-f, var(--t-mb_md-f, var(--t-mb_sm-f, var(--t-mb-f)))))); }
  .mb\:a:active { margin-bottom: var(--t-mb_2xl-a, var(--t-mb_xl-a, var(--t-mb_lg-a, var(--t-mb_md-a, var(--t-mb_sm-a, var(--t-mb-a)))))); }
  .mb\:d:disabled { margin-bottom: var(--t-mb_2xl-d, var(--t-mb_xl-d, var(--t-mb_lg-d, var(--t-mb_md-d, var(--t-mb_sm-d, var(--t-mb-d)))))); }
}

/* margin-left */
.ml { margin-left: var(--t-ml); }
.ml\:h:hover { margin-left: var(--t-ml-h); }
.ml\:f:focus { margin-left: var(--t-ml-f); }
.ml\:a:active { margin-left: var(--t-ml-a); }
.ml\:d:disabled { margin-left: var(--t-ml-d); }

@media (min-width: 640px) {
  .ml { margin-left: var(--t-ml_sm, var(--t-ml)); }
  .ml\:h:hover { margin-left: var(--t-ml_sm-h, var(--t-ml-h)); }
  .ml\:f:focus { margin-left: var(--t-ml_sm-f, var(--t-ml-f)); }
  .ml\:a:active { margin-left: var(--t-ml_sm-a, var(--t-ml-a)); }
  .ml\:d:disabled { margin-left: var(--t-ml_sm-d, var(--t-ml-d)); }
}

@media (min-width: 768px) {
  .ml { margin-left: var(--t-ml_md, var(--t-ml_sm, var(--t-ml))); }
  .ml\:h:hover { margin-left: var(--t-ml_md-h, var(--t-ml_sm-h, var(--t-ml-h))); }
  .ml\:f:focus { margin-left: var(--t-ml_md-f, var(--t-ml_sm-f, var(--t-ml-f))); }
  .ml\:a:active { margin-left: var(--t-ml_md-a, var(--t-ml_sm-a, var(--t-ml-a))); }
  .ml\:d:disabled { margin-left: var(--t-ml_md-d, var(--t-ml_sm-d, var(--t-ml-d))); }
}

@media (min-width: 1024px) {
  .ml { margin-left: var(--t-ml_lg, var(--t-ml_md, var(--t-ml_sm, var(--t-ml)))); }
  .ml\:h:hover { margin-left: var(--t-ml_lg-h, var(--t-ml_md-h, var(--t-ml_sm-h, var(--t-ml-h)))); }
  .ml\:f:focus { margin-left: var(--t-ml_lg-f, var(--t-ml_md-f, var(--t-ml_sm-f, var(--t-ml-f)))); }
  .ml\:a:active { margin-left: var(--t-ml_lg-a, var(--t-ml_md-a, var(--t-ml_sm-a, var(--t-ml-a)))); }
  .ml\:d:disabled { margin-left: var(--t-ml_lg-d, var(--t-ml_md-d, var(--t-ml_sm-d, var(--t-ml-d)))); }
}

@media (min-width: 1280px) {
  .ml { margin-left: var(--t-ml_xl, var(--t-ml_lg, var(--t-ml_md, var(--t-ml_sm, var(--t-ml))))); }
  .ml\:h:hover { margin-left: var(--t-ml_xl-h, var(--t-ml_lg-h, var(--t-ml_md-h, var(--t-ml_sm-h, var(--t-ml-h))))); }
  .ml\:f:focus { margin-left: var(--t-ml_xl-f, var(--t-ml_lg-f, var(--t-ml_md-f, var(--t-ml_sm-f, var(--t-ml-f))))); }
  .ml\:a:active { margin-left: var(--t-ml_xl-a, var(--t-ml_lg-a, var(--t-ml_md-a, var(--t-ml_sm-a, var(--t-ml-a))))); }
  .ml\:d:disabled { margin-left: var(--t-ml_xl-d, var(--t-ml_lg-d, var(--t-ml_md-d, var(--t-ml_sm-d, var(--t-ml-d))))); }
}

@media (min-width: 1536px) {
  .ml { margin-left: var(--t-ml_2xl, var(--t-ml_xl, var(--t-ml_lg, var(--t-ml_md, var(--t-ml_sm, var(--t-ml)))))); }
  .ml\:h:hover { margin-left: var(--t-ml_2xl-h, var(--t-ml_xl-h, var(--t-ml_lg-h, var(--t-ml_md-h, var(--t-ml_sm-h, var(--t-ml-h)))))); }
  .ml\:f:focus { margin-left: var(--t-ml_2xl-f, var(--t-ml_xl-f, var(--t-ml_lg-f, var(--t-ml_md-f, var(--t-ml_sm-f, var(--t-ml-f)))))); }
  .ml\:a:active { margin-left: var(--t-ml_2xl-a, var(--t-ml_xl-a, var(--t-ml_lg-a, var(--t-ml_md-a, var(--t-ml_sm-a, var(--t-ml-a)))))); }
  .ml\:d:disabled { margin-left: var(--t-ml_2xl-d, var(--t-ml_xl-d, var(--t-ml_lg-d, var(--t-ml_md-d, var(--t-ml_sm-d, var(--t-ml-d)))))); }
}
