/* color (text) */
.color-accent-emphasis { color: var(--t-color-accent-emphasis); }
.color-accent-emphasis\:h:hover { color: var(--t-color-accent-emphasis); }
.color-accent { color: var(--t-color-accent-default); }
.color-accent\:h:hover { color: var(--t-color-accent-default); }
.color-error-emphasis { color: var(--t-color-error-emphasis); }
.color-error-emphasis\:h:hover { color: var(--t-color-error-emphasis); }
.color-error { color: var(--t-color-error-default); }
.color-error\:h:hover { color: var(--t-color-error-default); }
.color-foreground-inverted-muted { color: var(--t-color-foreground-inverted-muted); }
.color-foreground-inverted-muted\:h:hover { color: var(--t-color-foreground-inverted-muted); }
.color-foreground-inverted-subtle { color: var(--t-color-foreground-inverted-subtle); }
.color-foreground-inverted-subtle\:h:hover { color: var(--t-color-foreground-inverted-subtle); }
.color-foreground-inverted { color: var(--t-color-foreground-inverted); }
.color-foreground-inverted\:h:hover { color: var(--t-color-foreground-inverted); }
.color-foreground-muted { color: var(--t-color-foreground-muted); }
.color-foreground-muted\:h:hover { color: var(--t-color-foreground-muted); }
.color-foreground-subtle { color: var(--t-color-foreground-subtle); }
.color-foreground-subtle\:h:hover { color: var(--t-color-foreground-subtle); }
.color-foreground { color: var(--t-color-foreground); }
.color-foreground\:h:hover { color: var(--t-color-foreground); }
.color-info-emphasis { color: var(--t-color-info-emphasis); }
.color-info-emphasis\:h:hover { color: var(--t-color-info-emphasis); }
.color-info { color: var(--t-color-info-default); }
.color-info\:h:hover { color: var(--t-color-info-default); }
.color-primary-emphasis { color: var(--t-color-primary-emphasis); }
.color-primary-emphasis\:h:hover { color: var(--t-color-primary-emphasis); }
.color-primary { color: var(--t-color-primary-default); }
.color-primary\:h:hover { color: var(--t-color-primary-default); }
.color-success-emphasis { color: var(--t-color-success-emphasis); }
.color-success-emphasis\:h:hover { color: var(--t-color-success-emphasis); }
.color-success { color: var(--t-color-success-default); }
.color-success\:h:hover { color: var(--t-color-success-default); }
.color-warning-emphasis { color: var(--t-color-warning-emphasis); }
.color-warning-emphasis\:h:hover { color: var(--t-color-warning-emphasis); }
.color-warning { color: var(--t-color-warning-default); }
.color-warning\:h:hover { color: var(--t-color-warning-default); }

/* bg (background) */
.bg-accent-default { background-color: var(--t-color-accent-default); }
.bg-accent-default\:h:hover { background-color: var(--t-color-accent-default); }
.bg-accent-emphasis { background-color: var(--t-color-accent-emphasis); }
.bg-accent-emphasis\:h:hover { background-color: var(--t-color-accent-emphasis); }
.bg-accent-subtle { background-color: var(--t-color-accent-subtle); }
.bg-accent-subtle\:h:hover { background-color: var(--t-color-accent-subtle); }
.bg-background { background-color: var(--t-color-background); }
.bg-background\:h:hover { background-color: var(--t-color-background); }
.bg-error-default { background-color: var(--t-color-error-default); }
.bg-error-default\:h:hover { background-color: var(--t-color-error-default); }
.bg-error-emphasis { background-color: var(--t-color-error-emphasis); }
.bg-error-emphasis\:h:hover { background-color: var(--t-color-error-emphasis); }
.bg-error-subtle { background-color: var(--t-color-error-subtle); }
.bg-error-subtle\:h:hover { background-color: var(--t-color-error-subtle); }
.bg-foreground { background-color: var(--t-color-foreground); }
.bg-foreground\:h:hover { background-color: var(--t-color-foreground); }
.bg-info-default { background-color: var(--t-color-info-default); }
.bg-info-default\:h:hover { background-color: var(--t-color-info-default); }
.bg-info-emphasis { background-color: var(--t-color-info-emphasis); }
.bg-info-emphasis\:h:hover { background-color: var(--t-color-info-emphasis); }
.bg-info-subtle { background-color: var(--t-color-info-subtle); }
.bg-info-subtle\:h:hover { background-color: var(--t-color-info-subtle); }
.bg-primary-default { background-color: var(--t-color-primary-default); }
.bg-primary-default\:h:hover { background-color: var(--t-color-primary-default); }
.bg-primary-emphasis { background-color: var(--t-color-primary-emphasis); }
.bg-primary-emphasis\:h:hover { background-color: var(--t-color-primary-emphasis); }
.bg-primary-subtle { background-color: var(--t-color-primary-subtle); }
.bg-primary-subtle\:h:hover { background-color: var(--t-color-primary-subtle); }
.bg-success-default { background-color: var(--t-color-success-default); }
.bg-success-default\:h:hover { background-color: var(--t-color-success-default); }
.bg-success-emphasis { background-color: var(--t-color-success-emphasis); }
.bg-success-emphasis\:h:hover { background-color: var(--t-color-success-emphasis); }
.bg-success-subtle { background-color: var(--t-color-success-subtle); }
.bg-success-subtle\:h:hover { background-color: var(--t-color-success-subtle); }
.bg-surface { background-color: var(--t-color-surface); }
.bg-surface\:h:hover { background-color: var(--t-color-surface); }
.bg-transparent { background-color: transparent; }
.bg-transparent\:h:hover { background-color: transparent; }
.bg-warning-default { background-color: var(--t-color-warning-default); }
.bg-warning-default\:h:hover { background-color: var(--t-color-warning-default); }
.bg-warning-emphasis { background-color: var(--t-color-warning-emphasis); }
.bg-warning-emphasis\:h:hover { background-color: var(--t-color-warning-emphasis); }
.bg-warning-subtle { background-color: var(--t-color-warning-subtle); }
.bg-warning-subtle\:h:hover { background-color: var(--t-color-warning-subtle); }

/* borderColor */
.border-color-accent-emphasis { border-color: var(--t-color-accent-emphasis); }
.border-color-accent-emphasis\:h:hover { border-color: var(--t-color-accent-emphasis); }
.border-color-accent { border-color: var(--t-color-accent-default); }
.border-color-accent\:h:hover { border-color: var(--t-color-accent-default); }
.border-color-border-muted { border-color: var(--t-color-border-muted); }
.border-color-border-muted\:h:hover { border-color: var(--t-color-border-muted); }
.border-color-border { border-color: var(--t-color-border); }
.border-color-border\:h:hover { border-color: var(--t-color-border); }
.border-color-error-emphasis { border-color: var(--t-color-error-emphasis); }
.border-color-error-emphasis\:h:hover { border-color: var(--t-color-error-emphasis); }
.border-color-error { border-color: var(--t-color-error-default); }
.border-color-error\:h:hover { border-color: var(--t-color-error-default); }
.border-color-info-emphasis { border-color: var(--t-color-info-emphasis); }
.border-color-info-emphasis\:h:hover { border-color: var(--t-color-info-emphasis); }
.border-color-info { border-color: var(--t-color-info-default); }
.border-color-info\:h:hover { border-color: var(--t-color-info-default); }
.border-color-primary-emphasis { border-color: var(--t-color-primary-emphasis); }
.border-color-primary-emphasis\:h:hover { border-color: var(--t-color-primary-emphasis); }
.border-color-primary { border-color: var(--t-color-primary-default); }
.border-color-primary\:h:hover { border-color: var(--t-color-primary-default); }
.border-color-success-emphasis { border-color: var(--t-color-success-emphasis); }
.border-color-success-emphasis\:h:hover { border-color: var(--t-color-success-emphasis); }
.border-color-success { border-color: var(--t-color-success-default); }
.border-color-success\:h:hover { border-color: var(--t-color-success-default); }
.border-color-warning-emphasis { border-color: var(--t-color-warning-emphasis); }
.border-color-warning-emphasis\:h:hover { border-color: var(--t-color-warning-emphasis); }
.border-color-warning { border-color: var(--t-color-warning-default); }
.border-color-warning\:h:hover { border-color: var(--t-color-warning-default); }
