/* justifySelf */
.justify-self-auto { justify-self: auto; }
.justify-self-auto\:h:hover { justify-self: auto; }
.justify-self-start { justify-self: start; }
.justify-self-start\:h:hover { justify-self: start; }
.justify-self-end { justify-self: end; }
.justify-self-end\:h:hover { justify-self: end; }
.justify-self-center { justify-self: center; }
.justify-self-center\:h:hover { justify-self: center; }
.justify-self-stretch { justify-self: stretch; }
.justify-self-stretch\:h:hover { justify-self: stretch; }

/* gridTemplateColumns */
.grid-cols { grid-template-columns: var(--t-grid-cols); }
.grid-cols\:h:hover { grid-template-columns: var(--t-grid-cols-h); }

@media (min-width: 640px) {
  .grid-cols { grid-template-columns: var(--t-grid-cols_sm, var(--t-grid-cols)); }
  .grid-cols\:h:hover { grid-template-columns: var(--t-grid-cols_sm-h, var(--t-grid-cols-h)); }
}

@media (min-width: 768px) {
  .grid-cols { grid-template-columns: var(--t-grid-cols_md, var(--t-grid-cols_sm, var(--t-grid-cols))); }
  .grid-cols\:h:hover { grid-template-columns: var(--t-grid-cols_md-h, var(--t-grid-cols_sm-h, var(--t-grid-cols-h))); }
}

@media (min-width: 1024px) {
  .grid-cols { grid-template-columns: var(--t-grid-cols_lg, var(--t-grid-cols_md, var(--t-grid-cols_sm, var(--t-grid-cols)))); }
  .grid-cols\:h:hover { grid-template-columns: var(--t-grid-cols_lg-h, var(--t-grid-cols_md-h, var(--t-grid-cols_sm-h, var(--t-grid-cols-h)))); }
}

@media (min-width: 1280px) {
  .grid-cols { grid-template-columns: var(--t-grid-cols_xl, var(--t-grid-cols_lg, var(--t-grid-cols_md, var(--t-grid-cols_sm, var(--t-grid-cols))))); }
  .grid-cols\:h:hover { grid-template-columns: var(--t-grid-cols_xl-h, var(--t-grid-cols_lg-h, var(--t-grid-cols_md-h, var(--t-grid-cols_sm-h, var(--t-grid-cols-h))))); }
}

@media (min-width: 1536px) {
  .grid-cols { grid-template-columns: var(--t-grid-cols_2xl, var(--t-grid-cols_xl, var(--t-grid-cols_lg, var(--t-grid-cols_md, var(--t-grid-cols_sm, var(--t-grid-cols)))))); }
  .grid-cols\:h:hover { grid-template-columns: var(--t-grid-cols_2xl-h, var(--t-grid-cols_xl-h, var(--t-grid-cols_lg-h, var(--t-grid-cols_md-h, var(--t-grid-cols_sm-h, var(--t-grid-cols-h)))))); }
}

/* gridTemplateRows */
.grid-rows { grid-template-rows: var(--t-grid-rows); }
.grid-rows\:h:hover { grid-template-rows: var(--t-grid-rows-h); }

@media (min-width: 640px) {
  .grid-rows { grid-template-rows: var(--t-grid-rows_sm, var(--t-grid-rows)); }
  .grid-rows\:h:hover { grid-template-rows: var(--t-grid-rows_sm-h, var(--t-grid-rows-h)); }
}

@media (min-width: 768px) {
  .grid-rows { grid-template-rows: var(--t-grid-rows_md, var(--t-grid-rows_sm, var(--t-grid-rows))); }
  .grid-rows\:h:hover { grid-template-rows: var(--t-grid-rows_md-h, var(--t-grid-rows_sm-h, var(--t-grid-rows-h))); }
}

@media (min-width: 1024px) {
  .grid-rows { grid-template-rows: var(--t-grid-rows_lg, var(--t-grid-rows_md, var(--t-grid-rows_sm, var(--t-grid-rows)))); }
  .grid-rows\:h:hover { grid-template-rows: var(--t-grid-rows_lg-h, var(--t-grid-rows_md-h, var(--t-grid-rows_sm-h, var(--t-grid-rows-h)))); }
}

@media (min-width: 1280px) {
  .grid-rows { grid-template-rows: var(--t-grid-rows_xl, var(--t-grid-rows_lg, var(--t-grid-rows_md, var(--t-grid-rows_sm, var(--t-grid-rows))))); }
  .grid-rows\:h:hover { grid-template-rows: var(--t-grid-rows_xl-h, var(--t-grid-rows_lg-h, var(--t-grid-rows_md-h, var(--t-grid-rows_sm-h, var(--t-grid-rows-h))))); }
}

@media (min-width: 1536px) {
  .grid-rows { grid-template-rows: var(--t-grid-rows_2xl, var(--t-grid-rows_xl, var(--t-grid-rows_lg, var(--t-grid-rows_md, var(--t-grid-rows_sm, var(--t-grid-rows)))))); }
  .grid-rows\:h:hover { grid-template-rows: var(--t-grid-rows_2xl-h, var(--t-grid-rows_xl-h, var(--t-grid-rows_lg-h, var(--t-grid-rows_md-h, var(--t-grid-rows_sm-h, var(--t-grid-rows-h)))))); }
}
