/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Import Tosui React StyleX CSS */
@import "@tosui/react/styles.css";

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #513989;
  --ifm-color-primary-dark: #49337b;
  --ifm-color-primary-darker: #453074;
  --ifm-color-primary-darkest: #392860;
  --ifm-color-primary-light: #593f97;
  --ifm-color-primary-lighter: #5d429e;
  --ifm-color-primary-lightest: #694ab2;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #cdb8ff;
  --ifm-color-primary-dark: #ae8cff;
  --ifm-color-primary-darker: #9f76ff;
  --ifm-color-primary-darkest: #7034ff;
  --ifm-color-primary-light: #ece4ff;
  --ifm-color-primary-lighter: #fbfaff;
  --ifm-color-primary-lightest: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
