/* width */
.w { width: var(--t-w); }
.w\:h:hover { width: var(--t-w-h); }
.w\:f:focus { width: var(--t-w-f); }
.w\:a:active { width: var(--t-w-a); }
.w\:d:disabled { width: var(--t-w-d); }

@media (min-width: 640px) {
  .w { width: var(--t-w_sm, var(--t-w)); }
  .w\:h:hover { width: var(--t-w_sm-h, var(--t-w-h)); }
  .w\:f:focus { width: var(--t-w_sm-f, var(--t-w-f)); }
  .w\:a:active { width: var(--t-w_sm-a, var(--t-w-a)); }
  .w\:d:disabled { width: var(--t-w_sm-d, var(--t-w-d)); }
}

@media (min-width: 768px) {
  .w { width: var(--t-w_md, var(--t-w_sm, var(--t-w))); }
  .w\:h:hover { width: var(--t-w_md-h, var(--t-w_sm-h, var(--t-w-h))); }
  .w\:f:focus { width: var(--t-w_md-f, var(--t-w_sm-f, var(--t-w-f))); }
  .w\:a:active { width: var(--t-w_md-a, var(--t-w_sm-a, var(--t-w-a))); }
  .w\:d:disabled { width: var(--t-w_md-d, var(--t-w_sm-d, var(--t-w-d))); }
}

@media (min-width: 1024px) {
  .w { width: var(--t-w_lg, var(--t-w_md, var(--t-w_sm, var(--t-w)))); }
  .w\:h:hover { width: var(--t-w_lg-h, var(--t-w_md-h, var(--t-w_sm-h, var(--t-w-h)))); }
  .w\:f:focus { width: var(--t-w_lg-f, var(--t-w_md-f, var(--t-w_sm-f, var(--t-w-f)))); }
  .w\:a:active { width: var(--t-w_lg-a, var(--t-w_md-a, var(--t-w_sm-a, var(--t-w-a)))); }
  .w\:d:disabled { width: var(--t-w_lg-d, var(--t-w_md-d, var(--t-w_sm-d, var(--t-w-d)))); }
}

@media (min-width: 1280px) {
  .w { width: var(--t-w_xl, var(--t-w_lg, var(--t-w_md, var(--t-w_sm, var(--t-w))))); }
  .w\:h:hover { width: var(--t-w_xl-h, var(--t-w_lg-h, var(--t-w_md-h, var(--t-w_sm-h, var(--t-w-h))))); }
  .w\:f:focus { width: var(--t-w_xl-f, var(--t-w_lg-f, var(--t-w_md-f, var(--t-w_sm-f, var(--t-w-f))))); }
  .w\:a:active { width: var(--t-w_xl-a, var(--t-w_lg-a, var(--t-w_md-a, var(--t-w_sm-a, var(--t-w-a))))); }
  .w\:d:disabled { width: var(--t-w_xl-d, var(--t-w_lg-d, var(--t-w_md-d, var(--t-w_sm-d, var(--t-w-d))))); }
}

@media (min-width: 1536px) {
  .w { width: var(--t-w_2xl, var(--t-w_xl, var(--t-w_lg, var(--t-w_md, var(--t-w_sm, var(--t-w)))))); }
  .w\:h:hover { width: var(--t-w_2xl-h, var(--t-w_xl-h, var(--t-w_lg-h, var(--t-w_md-h, var(--t-w_sm-h, var(--t-w-h)))))); }
  .w\:f:focus { width: var(--t-w_2xl-f, var(--t-w_xl-f, var(--t-w_lg-f, var(--t-w_md-f, var(--t-w_sm-f, var(--t-w-f)))))); }
  .w\:a:active { width: var(--t-w_2xl-a, var(--t-w_xl-a, var(--t-w_lg-a, var(--t-w_md-a, var(--t-w_sm-a, var(--t-w-a)))))); }
  .w\:d:disabled { width: var(--t-w_2xl-d, var(--t-w_xl-d, var(--t-w_lg-d, var(--t-w_md-d, var(--t-w_sm-d, var(--t-w-d)))))); }
}

/* height */
.h { height: var(--t-h); }
.h\:h:hover { height: var(--t-h-h); }
.h\:f:focus { height: var(--t-h-f); }
.h\:a:active { height: var(--t-h-a); }
.h\:d:disabled { height: var(--t-h-d); }

@media (min-width: 640px) {
  .h { height: var(--t-h_sm, var(--t-h)); }
  .h\:h:hover { height: var(--t-h_sm-h, var(--t-h-h)); }
  .h\:f:focus { height: var(--t-h_sm-f, var(--t-h-f)); }
  .h\:a:active { height: var(--t-h_sm-a, var(--t-h-a)); }
  .h\:d:disabled { height: var(--t-h_sm-d, var(--t-h-d)); }
}

@media (min-width: 768px) {
  .h { height: var(--t-h_md, var(--t-h_sm, var(--t-h))); }
  .h\:h:hover { height: var(--t-h_md-h, var(--t-h_sm-h, var(--t-h-h))); }
  .h\:f:focus { height: var(--t-h_md-f, var(--t-h_sm-f, var(--t-h-f))); }
  .h\:a:active { height: var(--t-h_md-a, var(--t-h_sm-a, var(--t-h-a))); }
  .h\:d:disabled { height: var(--t-h_md-d, var(--t-h_sm-d, var(--t-h-d))); }
}

@media (min-width: 1024px) {
  .h { height: var(--t-h_lg, var(--t-h_md, var(--t-h_sm, var(--t-h)))); }
  .h\:h:hover { height: var(--t-h_lg-h, var(--t-h_md-h, var(--t-h_sm-h, var(--t-h-h)))); }
  .h\:f:focus { height: var(--t-h_lg-f, var(--t-h_md-f, var(--t-h_sm-f, var(--t-h-f)))); }
  .h\:a:active { height: var(--t-h_lg-a, var(--t-h_md-a, var(--t-h_sm-a, var(--t-h-a)))); }
  .h\:d:disabled { height: var(--t-h_lg-d, var(--t-h_md-d, var(--t-h_sm-d, var(--t-h-d)))); }
}

@media (min-width: 1280px) {
  .h { height: var(--t-h_xl, var(--t-h_lg, var(--t-h_md, var(--t-h_sm, var(--t-h))))); }
  .h\:h:hover { height: var(--t-h_xl-h, var(--t-h_lg-h, var(--t-h_md-h, var(--t-h_sm-h, var(--t-h-h))))); }
  .h\:f:focus { height: var(--t-h_xl-f, var(--t-h_lg-f, var(--t-h_md-f, var(--t-h_sm-f, var(--t-h-f))))); }
  .h\:a:active { height: var(--t-h_xl-a, var(--t-h_lg-a, var(--t-h_md-a, var(--t-h_sm-a, var(--t-h-a))))); }
  .h\:d:disabled { height: var(--t-h_xl-d, var(--t-h_lg-d, var(--t-h_md-d, var(--t-h_sm-d, var(--t-h-d))))); }
}

@media (min-width: 1536px) {
  .h { height: var(--t-h_2xl, var(--t-h_xl, var(--t-h_lg, var(--t-h_md, var(--t-h_sm, var(--t-h)))))); }
  .h\:h:hover { height: var(--t-h_2xl-h, var(--t-h_xl-h, var(--t-h_lg-h, var(--t-h_md-h, var(--t-h_sm-h, var(--t-h-h)))))); }
  .h\:f:focus { height: var(--t-h_2xl-f, var(--t-h_xl-f, var(--t-h_lg-f, var(--t-h_md-f, var(--t-h_sm-f, var(--t-h-f)))))); }
  .h\:a:active { height: var(--t-h_2xl-a, var(--t-h_xl-a, var(--t-h_lg-a, var(--t-h_md-a, var(--t-h_sm-a, var(--t-h-a)))))); }
  .h\:d:disabled { height: var(--t-h_2xl-d, var(--t-h_xl-d, var(--t-h_lg-d, var(--t-h_md-d, var(--t-h_sm-d, var(--t-h-d)))))); }
}

/* min-width */
.minW { min-width: var(--t-minW); }
.minW\:h:hover { min-width: var(--t-minW-h); }
.minW\:f:focus { min-width: var(--t-minW-f); }
.minW\:a:active { min-width: var(--t-minW-a); }
.minW\:d:disabled { min-width: var(--t-minW-d); }

@media (min-width: 640px) {
  .minW { min-width: var(--t-minW_sm, var(--t-minW)); }
  .minW\:h:hover { min-width: var(--t-minW_sm-h, var(--t-minW-h)); }
  .minW\:f:focus { min-width: var(--t-minW_sm-f, var(--t-minW-f)); }
  .minW\:a:active { min-width: var(--t-minW_sm-a, var(--t-minW-a)); }
  .minW\:d:disabled { min-width: var(--t-minW_sm-d, var(--t-minW-d)); }
}

@media (min-width: 768px) {
  .minW { min-width: var(--t-minW_md, var(--t-minW_sm, var(--t-minW))); }
  .minW\:h:hover { min-width: var(--t-minW_md-h, var(--t-minW_sm-h, var(--t-minW-h))); }
  .minW\:f:focus { min-width: var(--t-minW_md-f, var(--t-minW_sm-f, var(--t-minW-f))); }
  .minW\:a:active { min-width: var(--t-minW_md-a, var(--t-minW_sm-a, var(--t-minW-a))); }
  .minW\:d:disabled { min-width: var(--t-minW_md-d, var(--t-minW_sm-d, var(--t-minW-d))); }
}

@media (min-width: 1024px) {
  .minW { min-width: var(--t-minW_lg, var(--t-minW_md, var(--t-minW_sm, var(--t-minW)))); }
  .minW\:h:hover { min-width: var(--t-minW_lg-h, var(--t-minW_md-h, var(--t-minW_sm-h, var(--t-minW-h)))); }
  .minW\:f:focus { min-width: var(--t-minW_lg-f, var(--t-minW_md-f, var(--t-minW_sm-f, var(--t-minW-f)))); }
  .minW\:a:active { min-width: var(--t-minW_lg-a, var(--t-minW_md-a, var(--t-minW_sm-a, var(--t-minW-a)))); }
  .minW\:d:disabled { min-width: var(--t-minW_lg-d, var(--t-minW_md-d, var(--t-minW_sm-d, var(--t-minW-d)))); }
}

@media (min-width: 1280px) {
  .minW { min-width: var(--t-minW_xl, var(--t-minW_lg, var(--t-minW_md, var(--t-minW_sm, var(--t-minW))))); }
  .minW\:h:hover { min-width: var(--t-minW_xl-h, var(--t-minW_lg-h, var(--t-minW_md-h, var(--t-minW_sm-h, var(--t-minW-h))))); }
  .minW\:f:focus { min-width: var(--t-minW_xl-f, var(--t-minW_lg-f, var(--t-minW_md-f, var(--t-minW_sm-f, var(--t-minW-f))))); }
  .minW\:a:active { min-width: var(--t-minW_xl-a, var(--t-minW_lg-a, var(--t-minW_md-a, var(--t-minW_sm-a, var(--t-minW-a))))); }
  .minW\:d:disabled { min-width: var(--t-minW_xl-d, var(--t-minW_lg-d, var(--t-minW_md-d, var(--t-minW_sm-d, var(--t-minW-d))))); }
}

@media (min-width: 1536px) {
  .minW { min-width: var(--t-minW_2xl, var(--t-minW_xl, var(--t-minW_lg, var(--t-minW_md, var(--t-minW_sm, var(--t-minW)))))); }
  .minW\:h:hover { min-width: var(--t-minW_2xl-h, var(--t-minW_xl-h, var(--t-minW_lg-h, var(--t-minW_md-h, var(--t-minW_sm-h, var(--t-minW-h)))))); }
  .minW\:f:focus { min-width: var(--t-minW_2xl-f, var(--t-minW_xl-f, var(--t-minW_lg-f, var(--t-minW_md-f, var(--t-minW_sm-f, var(--t-minW-f)))))); }
  .minW\:a:active { min-width: var(--t-minW_2xl-a, var(--t-minW_xl-a, var(--t-minW_lg-a, var(--t-minW_md-a, var(--t-minW_sm-a, var(--t-minW-a)))))); }
  .minW\:d:disabled { min-width: var(--t-minW_2xl-d, var(--t-minW_xl-d, var(--t-minW_lg-d, var(--t-minW_md-d, var(--t-minW_sm-d, var(--t-minW-d)))))); }
}

/* max-width */
.maxW { max-width: var(--t-maxW); }
.maxW\:h:hover { max-width: var(--t-maxW-h); }
.maxW\:f:focus { max-width: var(--t-maxW-f); }
.maxW\:a:active { max-width: var(--t-maxW-a); }
.maxW\:d:disabled { max-width: var(--t-maxW-d); }

@media (min-width: 640px) {
  .maxW { max-width: var(--t-maxW_sm, var(--t-maxW)); }
  .maxW\:h:hover { max-width: var(--t-maxW_sm-h, var(--t-maxW-h)); }
  .maxW\:f:focus { max-width: var(--t-maxW_sm-f, var(--t-maxW-f)); }
  .maxW\:a:active { max-width: var(--t-maxW_sm-a, var(--t-maxW-a)); }
  .maxW\:d:disabled { max-width: var(--t-maxW_sm-d, var(--t-maxW-d)); }
}

@media (min-width: 768px) {
  .maxW { max-width: var(--t-maxW_md, var(--t-maxW_sm, var(--t-maxW))); }
  .maxW\:h:hover { max-width: var(--t-maxW_md-h, var(--t-maxW_sm-h, var(--t-maxW-h))); }
  .maxW\:f:focus { max-width: var(--t-maxW_md-f, var(--t-maxW_sm-f, var(--t-maxW-f))); }
  .maxW\:a:active { max-width: var(--t-maxW_md-a, var(--t-maxW_sm-a, var(--t-maxW-a))); }
  .maxW\:d:disabled { max-width: var(--t-maxW_md-d, var(--t-maxW_sm-d, var(--t-maxW-d))); }
}

@media (min-width: 1024px) {
  .maxW { max-width: var(--t-maxW_lg, var(--t-maxW_md, var(--t-maxW_sm, var(--t-maxW)))); }
  .maxW\:h:hover { max-width: var(--t-maxW_lg-h, var(--t-maxW_md-h, var(--t-maxW_sm-h, var(--t-maxW-h)))); }
  .maxW\:f:focus { max-width: var(--t-maxW_lg-f, var(--t-maxW_md-f, var(--t-maxW_sm-f, var(--t-maxW-f)))); }
  .maxW\:a:active { max-width: var(--t-maxW_lg-a, var(--t-maxW_md-a, var(--t-maxW_sm-a, var(--t-maxW-a)))); }
  .maxW\:d:disabled { max-width: var(--t-maxW_lg-d, var(--t-maxW_md-d, var(--t-maxW_sm-d, var(--t-maxW-d)))); }
}

@media (min-width: 1280px) {
  .maxW { max-width: var(--t-maxW_xl, var(--t-maxW_lg, var(--t-maxW_md, var(--t-maxW_sm, var(--t-maxW))))); }
  .maxW\:h:hover { max-width: var(--t-maxW_xl-h, var(--t-maxW_lg-h, var(--t-maxW_md-h, var(--t-maxW_sm-h, var(--t-maxW-h))))); }
  .maxW\:f:focus { max-width: var(--t-maxW_xl-f, var(--t-maxW_lg-f, var(--t-maxW_md-f, var(--t-maxW_sm-f, var(--t-maxW-f))))); }
  .maxW\:a:active { max-width: var(--t-maxW_xl-a, var(--t-maxW_lg-a, var(--t-maxW_md-a, var(--t-maxW_sm-a, var(--t-maxW-a))))); }
  .maxW\:d:disabled { max-width: var(--t-maxW_xl-d, var(--t-maxW_lg-d, var(--t-maxW_md-d, var(--t-maxW_sm-d, var(--t-maxW-d))))); }
}

/* min-height */
.minH { min-height: var(--t-minH); }
.minH\:h:hover { min-height: var(--t-minH-h); }
.minH\:f:focus { min-height: var(--t-minH-f); }
.minH\:a:active { min-height: var(--t-minH-a); }
.minH\:d:disabled { min-height: var(--t-minH-d); }

@media (min-width: 640px) {
  .minH { min-height: var(--t-minH_sm, var(--t-minH)); }
  .minH\:h:hover { min-height: var(--t-minH_sm-h, var(--t-minH-h)); }
  .minH\:f:focus { min-height: var(--t-minH_sm-f, var(--t-minH-f)); }
  .minH\:a:active { min-height: var(--t-minH_sm-a, var(--t-minH-a)); }
  .minH\:d:disabled { min-height: var(--t-minH_sm-d, var(--t-minH-d)); }
}

@media (min-width: 768px) {
  .minH { min-height: var(--t-minH_md, var(--t-minH_sm, var(--t-minH))); }
  .minH\:h:hover { min-height: var(--t-minH_md-h, var(--t-minH_sm-h, var(--t-minH-h))); }
  .minH\:f:focus { min-height: var(--t-minH_md-f, var(--t-minH_sm-f, var(--t-minH-f))); }
  .minH\:a:active { min-height: var(--t-minH_md-a, var(--t-minH_sm-a, var(--t-minH-a))); }
  .minH\:d:disabled { min-height: var(--t-minH_md-d, var(--t-minH_sm-d, var(--t-minH-d))); }
}

@media (min-width: 1024px) {
  .minH { min-height: var(--t-minH_lg, var(--t-minH_md, var(--t-minH_sm, var(--t-minH)))); }
  .minH\:h:hover { min-height: var(--t-minH_lg-h, var(--t-minH_md-h, var(--t-minH_sm-h, var(--t-minH-h)))); }
  .minH\:f:focus { min-height: var(--t-minH_lg-f, var(--t-minH_md-f, var(--t-minH_sm-f, var(--t-minH-f)))); }
  .minH\:a:active { min-height: var(--t-minH_lg-a, var(--t-minH_md-a, var(--t-minH_sm-a, var(--t-minH-a)))); }
  .minH\:d:disabled { min-height: var(--t-minH_lg-d, var(--t-minH_md-d, var(--t-minH_sm-d, var(--t-minH-d)))); }
}

@media (min-width: 1280px) {
  .minH { min-height: var(--t-minH_xl, var(--t-minH_lg, var(--t-minH_md, var(--t-minH_sm, var(--t-minH))))); }
  .minH\:h:hover { min-height: var(--t-minH_xl-h, var(--t-minH_lg-h, var(--t-minH_md-h, var(--t-minH_sm-h, var(--t-minH-h))))); }
  .minH\:f:focus { min-height: var(--t-minH_xl-f, var(--t-minH_lg-f, var(--t-minH_md-f, var(--t-minH_sm-f, var(--t-minH-f))))); }
  .minH\:a:active { min-height: var(--t-minH_xl-a, var(--t-minH_lg-a, var(--t-minH_md-a, var(--t-minH_sm-a, var(--t-minH-a))))); }
  .minH\:d:disabled { min-height: var(--t-minH_xl-d, var(--t-minH_lg-d, var(--t-minH_md-d, var(--t-minH_sm-d, var(--t-minH-d))))); }
}

@media (min-width: 1536px) {
  .minH { min-height: var(--t-minH_2xl, var(--t-minH_xl, var(--t-minH_lg, var(--t-minH_md, var(--t-minH_sm, var(--t-minH)))))); }
  .minH\:h:hover { min-height: var(--t-minH_2xl-h, var(--t-minH_xl-h, var(--t-minH_lg-h, var(--t-minH_md-h, var(--t-minH_sm-h, var(--t-minH-h)))))); }
  .minH\:f:focus { min-height: var(--t-minH_2xl-f, var(--t-minH_xl-f, var(--t-minH_lg-f, var(--t-minH_md-f, var(--t-minH_sm-f, var(--t-minH-f)))))); }
  .minH\:a:active { min-height: var(--t-minH_2xl-a, var(--t-minH_xl-a, var(--t-minH_lg-a, var(--t-minH_md-a, var(--t-minH_sm-a, var(--t-minH-a)))))); }
  .minH\:d:disabled { min-height: var(--t-minH_2xl-d, var(--t-minH_xl-d, var(--t-minH_lg-d, var(--t-minH_md-d, var(--t-minH_sm-d, var(--t-minH-d)))))); }
}

/* max-height */
.maxH { max-height: var(--t-maxH); }
.maxH\:h:hover { max-height: var(--t-maxH-h); }
.maxH\:f:focus { max-height: var(--t-maxH-f); }
.maxH\:a:active { max-height: var(--t-maxH-a); }
.maxH\:d:disabled { max-height: var(--t-maxH-d); }

@media (min-width: 640px) {
  .maxH { max-height: var(--t-maxH_sm, var(--t-maxH)); }
  .maxH\:h:hover { max-height: var(--t-maxH_sm-h, var(--t-maxH-h)); }
  .maxH\:f:focus { max-height: var(--t-maxH_sm-f, var(--t-maxH-f)); }
  .maxH\:a:active { max-height: var(--t-maxH_sm-a, var(--t-maxH-a)); }
  .maxH\:d:disabled { max-height: var(--t-maxH_sm-d, var(--t-maxH-d)); }
}

@media (min-width: 768px) {
  .maxH { max-height: var(--t-maxH_md, var(--t-maxH_sm, var(--t-maxH))); }
  .maxH\:h:hover { max-height: var(--t-maxH_md-h, var(--t-maxH_sm-h, var(--t-maxH-h))); }
  .maxH\:f:focus { max-height: var(--t-maxH_md-f, var(--t-maxH_sm-f, var(--t-maxH-f))); }
  .maxH\:a:active { max-height: var(--t-maxH_md-a, var(--t-maxH_sm-a, var(--t-maxH-a))); }
  .maxH\:d:disabled { max-height: var(--t-maxH_md-d, var(--t-maxH_sm-d, var(--t-maxH-d))); }
}

@media (min-width: 1024px) {
  .maxH { max-height: var(--t-maxH_lg, var(--t-maxH_md, var(--t-maxH_sm, var(--t-maxH)))); }
  .maxH\:h:hover { max-height: var(--t-maxH_lg-h, var(--t-maxH_md-h, var(--t-maxH_sm-h, var(--t-maxH-h)))); }
  .maxH\:f:focus { max-height: var(--t-maxH_lg-f, var(--t-maxH_md-f, var(--t-maxH_sm-f, var(--t-maxH-f)))); }
  .maxH\:a:active { max-height: var(--t-maxH_lg-a, var(--t-maxH_md-a, var(--t-maxH_sm-a, var(--t-maxH-a)))); }
  .maxH\:d:disabled { max-height: var(--t-maxH_lg-d, var(--t-maxH_md-d, var(--t-maxH_sm-d, var(--t-maxH-d)))); }
}

@media (min-width: 1280px) {
  .maxH { max-height: var(--t-maxH_xl, var(--t-maxH_lg, var(--t-maxH_md, var(--t-maxH_sm, var(--t-maxH))))); }
  .maxH\:h:hover { max-height: var(--t-maxH_xl-h, var(--t-maxH_lg-h, var(--t-maxH_md-h, var(--t-maxH_sm-h, var(--t-maxH-h))))); }
  .maxH\:f:focus { max-height: var(--t-maxH_xl-f, var(--t-maxH_lg-f, var(--t-maxH_md-f, var(--t-maxH_sm-f, var(--t-maxH-f))))); }
  .maxH\:a:active { max-height: var(--t-maxH_xl-a, var(--t-maxH_lg-a, var(--t-maxH_md-a, var(--t-maxH_sm-a, var(--t-maxH-a))))); }
  .maxH\:d:disabled { max-height: var(--t-maxH_xl-d, var(--t-maxH_lg-d, var(--t-maxH_md-d, var(--t-maxH_sm-d, var(--t-maxH-d))))); }
}

@media (min-width: 1536px) {
  .maxH { max-height: var(--t-maxH_2xl, var(--t-maxH_xl, var(--t-maxH_lg, var(--t-maxH_md, var(--t-maxH_sm, var(--t-maxH)))))); }
  .maxH\:h:hover { max-height: var(--t-maxH_2xl-h, var(--t-maxH_xl-h, var(--t-maxH_lg-h, var(--t-maxH_md-h, var(--t-maxH_sm-h, var(--t-maxH-h)))))); }
  .maxH\:f:focus { max-height: var(--t-maxH_2xl-f, var(--t-maxH_xl-f, var(--t-maxH_lg-f, var(--t-maxH_md-f, var(--t-maxH_sm-f, var(--t-maxH-f)))))); }
  .maxH\:a:active { max-height: var(--t-maxH_2xl-a, var(--t-maxH_xl-a, var(--t-maxH_lg-a, var(--t-maxH_md-a, var(--t-maxH_sm-a, var(--t-maxH-a)))))); }
  .maxH\:d:disabled { max-height: var(--t-maxH_2xl-d, var(--t-maxH_xl-d, var(--t-maxH_lg-d, var(--t-maxH_md-d, var(--t-maxH_sm-d, var(--t-maxH-d)))))); }
}
