/* width */
.w { width: var(--t-w); }
.w\:h:hover { width: var(--t-w-h); }
.w\:f:focus { width: var(--t-w-f); }
.w\:a:active { width: var(--t-w-a); }
.w\:d:disabled { width: var(--t-w-d); }

@media (min-width: 640px) {
  .w_sm { width: var(--t-w_sm); }
  .w_sm\:h:hover { width: var(--t-w_sm-h); }
  .w_sm\:f:focus { width: var(--t-w_sm-f); }
  .w_sm\:a:active { width: var(--t-w_sm-a); }
  .w_sm\:d:disabled { width: var(--t-w_sm-d); }
}

@media (min-width: 768px) {
  .w_md { width: var(--t-w_md); }
  .w_md\:h:hover { width: var(--t-w_md-h); }
  .w_md\:f:focus { width: var(--t-w_md-f); }
  .w_md\:a:active { width: var(--t-w_md-a); }
  .w_md\:d:disabled { width: var(--t-w_md-d); }
}

@media (min-width: 1024px) {
  .w_lg { width: var(--t-w_lg); }
  .w_lg\:h:hover { width: var(--t-w_lg-h); }
  .w_lg\:f:focus { width: var(--t-w_lg-f); }
  .w_lg\:a:active { width: var(--t-w_lg-a); }
  .w_lg\:d:disabled { width: var(--t-w_lg-d); }
}

@media (min-width: 1280px) {
  .w_xl { width: var(--t-w_xl); }
  .w_xl\:h:hover { width: var(--t-w_xl-h); }
  .w_xl\:f:focus { width: var(--t-w_xl-f); }
  .w_xl\:a:active { width: var(--t-w_xl-a); }
  .w_xl\:d:disabled { width: var(--t-w_xl-d); }
}

@media (min-width: 1536px) {
  .w_2xl { width: var(--t-w_2xl); }
  .w_2xl\:h:hover { width: var(--t-w_2xl-h); }
  .w_2xl\:f:focus { width: var(--t-w_2xl-f); }
  .w_2xl\:a:active { width: var(--t-w_2xl-a); }
  .w_2xl\:d:disabled { width: var(--t-w_2xl-d); }
}

/* height */
.h { height: var(--t-h); }
.h\:h:hover { height: var(--t-h-h); }
.h\:f:focus { height: var(--t-h-f); }
.h\:a:active { height: var(--t-h-a); }
.h\:d:disabled { height: var(--t-h-d); }

@media (min-width: 640px) {
  .h_sm { height: var(--t-h_sm); }
  .h_sm\:h:hover { height: var(--t-h_sm-h); }
  .h_sm\:f:focus { height: var(--t-h_sm-f); }
  .h_sm\:a:active { height: var(--t-h_sm-a); }
  .h_sm\:d:disabled { height: var(--t-h_sm-d); }
}

@media (min-width: 768px) {
  .h_md { height: var(--t-h_md); }
  .h_md\:h:hover { height: var(--t-h_md-h); }
  .h_md\:f:focus { height: var(--t-h_md-f); }
  .h_md\:a:active { height: var(--t-h_md-a); }
  .h_md\:d:disabled { height: var(--t-h_md-d); }
}

@media (min-width: 1024px) {
  .h_lg { height: var(--t-h_lg); }
  .h_lg\:h:hover { height: var(--t-h_lg-h); }
  .h_lg\:f:focus { height: var(--t-h_lg-f); }
  .h_lg\:a:active { height: var(--t-h_lg-a); }
  .h_lg\:d:disabled { height: var(--t-h_lg-d); }
}

@media (min-width: 1280px) {
  .h_xl { height: var(--t-h_xl); }
  .h_xl\:h:hover { height: var(--t-h_xl-h); }
  .h_xl\:f:focus { height: var(--t-h_xl-f); }
  .h_xl\:a:active { height: var(--t-h_xl-a); }
  .h_xl\:d:disabled { height: var(--t-h_xl-d); }
}

@media (min-width: 1536px) {
  .h_2xl { height: var(--t-h_2xl); }
  .h_2xl\:h:hover { height: var(--t-h_2xl-h); }
  .h_2xl\:f:focus { height: var(--t-h_2xl-f); }
  .h_2xl\:a:active { height: var(--t-h_2xl-a); }
  .h_2xl\:d:disabled { height: var(--t-h_2xl-d); }
}

/* min-width */
.minW { min-width: var(--t-minW); }
.minW\:h:hover { min-width: var(--t-minW-h); }
.minW\:f:focus { min-width: var(--t-minW-f); }
.minW\:a:active { min-width: var(--t-minW-a); }
.minW\:d:disabled { min-width: var(--t-minW-d); }

@media (min-width: 640px) {
  .minW_sm { min-width: var(--t-minW_sm); }
  .minW_sm\:h:hover { min-width: var(--t-minW_sm-h); }
  .minW_sm\:f:focus { min-width: var(--t-minW_sm-f); }
  .minW_sm\:a:active { min-width: var(--t-minW_sm-a); }
  .minW_sm\:d:disabled { min-width: var(--t-minW_sm-d); }
}

@media (min-width: 768px) {
  .minW_md { min-width: var(--t-minW_md); }
  .minW_md\:h:hover { min-width: var(--t-minW_md-h); }
  .minW_md\:f:focus { min-width: var(--t-minW_md-f); }
  .minW_md\:a:active { min-width: var(--t-minW_md-a); }
  .minW_md\:d:disabled { min-width: var(--t-minW_md-d); }
}

@media (min-width: 1024px) {
  .minW_lg { min-width: var(--t-minW_lg); }
  .minW_lg\:h:hover { min-width: var(--t-minW_lg-h); }
  .minW_lg\:f:focus { min-width: var(--t-minW_lg-f); }
  .minW_lg\:a:active { min-width: var(--t-minW_lg-a); }
  .minW_lg\:d:disabled { min-width: var(--t-minW_lg-d); }
}

@media (min-width: 1280px) {
  .minW_xl { min-width: var(--t-minW_xl); }
  .minW_xl\:h:hover { min-width: var(--t-minW_xl-h); }
  .minW_xl\:f:focus { min-width: var(--t-minW_xl-f); }
  .minW_xl\:a:active { min-width: var(--t-minW_xl-a); }
  .minW_xl\:d:disabled { min-width: var(--t-minW_xl-d); }
}

@media (min-width: 1536px) {
  .minW_2xl { min-width: var(--t-minW_2xl); }
  .minW_2xl\:h:hover { min-width: var(--t-minW_2xl-h); }
  .minW_2xl\:f:focus { min-width: var(--t-minW_2xl-f); }
  .minW_2xl\:a:active { min-width: var(--t-minW_2xl-a); }
  .minW_2xl\:d:disabled { min-width: var(--t-minW_2xl-d); }
}

/* max-width */
.maxW { max-width: var(--t-maxW); }
.maxW\:h:hover { max-width: var(--t-maxW-h); }
.maxW\:f:focus { max-width: var(--t-maxW-f); }
.maxW\:a:active { max-width: var(--t-maxW-a); }
.maxW\:d:disabled { max-width: var(--t-maxW-d); }

@media (min-width: 640px) {
  .maxW_sm { max-width: var(--t-maxW_sm); }
  .maxW_sm\:h:hover { max-width: var(--t-maxW_sm-h); }
  .maxW_sm\:f:focus { max-width: var(--t-maxW_sm-f); }
  .maxW_sm\:a:active { max-width: var(--t-maxW_sm-a); }
  .maxW_sm\:d:disabled { max-width: var(--t-maxW_sm-d); }
}

@media (min-width: 768px) {
  .maxW_md { max-width: var(--t-maxW_md); }
  .maxW_md\:h:hover { max-width: var(--t-maxW_md-h); }
  .maxW_md\:f:focus { max-width: var(--t-maxW_md-f); }
  .maxW_md\:a:active { max-width: var(--t-maxW_md-a); }
  .maxW_md\:d:disabled { max-width: var(--t-maxW_md-d); }
}

@media (min-width: 1024px) {
  .maxW_lg { max-width: var(--t-maxW_lg); }
  .maxW_lg\:h:hover { max-width: var(--t-maxW_lg-h); }
  .maxW_lg\:f:focus { max-width: var(--t-maxW_lg-f); }
  .maxW_lg\:a:active { max-width: var(--t-maxW_lg-a); }
  .maxW_lg\:d:disabled { max-width: var(--t-maxW_lg-d); }
}

@media (min-width: 1280px) {
  .maxW_xl { max-width: var(--t-maxW_xl); }
  .maxW_xl\:h:hover { max-width: var(--t-maxW_xl-h); }
  .maxW_xl\:f:focus { max-width: var(--t-maxW_xl-f); }
  .maxW_xl\:a:active { max-width: var(--t-maxW_xl-a); }
  .maxW_xl\:d:disabled { max-width: var(--t-maxW_xl-d); }
}

@media (min-width: 1536px) {
  .maxW_2xl { max-width: var(--t-maxW_2xl); }
  .maxW_2xl\:h:hover { max-width: var(--t-maxW_2xl-h); }
  .maxW_2xl\:f:focus { max-width: var(--t-maxW_2xl-f); }
  .maxW_2xl\:a:active { max-width: var(--t-maxW_2xl-a); }
  .maxW_2xl\:d:disabled { max-width: var(--t-maxW_2xl-d); }
}

/* min-height */
.minH { min-height: var(--t-minH); }
.minH\:h:hover { min-height: var(--t-minH-h); }
.minH\:f:focus { min-height: var(--t-minH-f); }
.minH\:a:active { min-height: var(--t-minH-a); }
.minH\:d:disabled { min-height: var(--t-minH-d); }

@media (min-width: 640px) {
  .minH_sm { min-height: var(--t-minH_sm); }
  .minH_sm\:h:hover { min-height: var(--t-minH_sm-h); }
  .minH_sm\:f:focus { min-height: var(--t-minH_sm-f); }
  .minH_sm\:a:active { min-height: var(--t-minH_sm-a); }
  .minH_sm\:d:disabled { min-height: var(--t-minH_sm-d); }
}

@media (min-width: 768px) {
  .minH_md { min-height: var(--t-minH_md); }
  .minH_md\:h:hover { min-height: var(--t-minH_md-h); }
  .minH_md\:f:focus { min-height: var(--t-minH_md-f); }
  .minH_md\:a:active { min-height: var(--t-minH_md-a); }
  .minH_md\:d:disabled { min-height: var(--t-minH_md-d); }
}

@media (min-width: 1024px) {
  .minH_lg { min-height: var(--t-minH_lg); }
  .minH_lg\:h:hover { min-height: var(--t-minH_lg-h); }
  .minH_lg\:f:focus { min-height: var(--t-minH_lg-f); }
  .minH_lg\:a:active { min-height: var(--t-minH_lg-a); }
  .minH_lg\:d:disabled { min-height: var(--t-minH_lg-d); }
}

@media (min-width: 1280px) {
  .minH_xl { min-height: var(--t-minH_xl); }
  .minH_xl\:h:hover { min-height: var(--t-minH_xl-h); }
  .minH_xl\:f:focus { min-height: var(--t-minH_xl-f); }
  .minH_xl\:a:active { min-height: var(--t-minH_xl-a); }
  .minH_xl\:d:disabled { min-height: var(--t-minH_xl-d); }
}

@media (min-width: 1536px) {
  .minH_2xl { min-height: var(--t-minH_2xl); }
  .minH_2xl\:h:hover { min-height: var(--t-minH_2xl-h); }
  .minH_2xl\:f:focus { min-height: var(--t-minH_2xl-f); }
  .minH_2xl\:a:active { min-height: var(--t-minH_2xl-a); }
  .minH_2xl\:d:disabled { min-height: var(--t-minH_2xl-d); }
}

/* max-height */
.maxH { max-height: var(--t-maxH); }
.maxH\:h:hover { max-height: var(--t-maxH-h); }
.maxH\:f:focus { max-height: var(--t-maxH-f); }
.maxH\:a:active { max-height: var(--t-maxH-a); }
.maxH\:d:disabled { max-height: var(--t-maxH-d); }

@media (min-width: 640px) {
  .maxH_sm { max-height: var(--t-maxH_sm); }
  .maxH_sm\:h:hover { max-height: var(--t-maxH_sm-h); }
  .maxH_sm\:f:focus { max-height: var(--t-maxH_sm-f); }
  .maxH_sm\:a:active { max-height: var(--t-maxH_sm-a); }
  .maxH_sm\:d:disabled { max-height: var(--t-maxH_sm-d); }
}

@media (min-width: 768px) {
  .maxH_md { max-height: var(--t-maxH_md); }
  .maxH_md\:h:hover { max-height: var(--t-maxH_md-h); }
  .maxH_md\:f:focus { max-height: var(--t-maxH_md-f); }
  .maxH_md\:a:active { max-height: var(--t-maxH_md-a); }
  .maxH_md\:d:disabled { max-height: var(--t-maxH_md-d); }
}

@media (min-width: 1024px) {
  .maxH_lg { max-height: var(--t-maxH_lg); }
  .maxH_lg\:h:hover { max-height: var(--t-maxH_lg-h); }
  .maxH_lg\:f:focus { max-height: var(--t-maxH_lg-f); }
  .maxH_lg\:a:active { max-height: var(--t-maxH_lg-a); }
  .maxH_lg\:d:disabled { max-height: var(--t-maxH_lg-d); }
}

@media (min-width: 1280px) {
  .maxH_xl { max-height: var(--t-maxH_xl); }
  .maxH_xl\:h:hover { max-height: var(--t-maxH_xl-h); }
  .maxH_xl\:f:focus { max-height: var(--t-maxH_xl-f); }
  .maxH_xl\:a:active { max-height: var(--t-maxH_xl-a); }
  .maxH_xl\:d:disabled { max-height: var(--t-maxH_xl-d); }
}

@media (min-width: 1536px) {
  .maxH_2xl { max-height: var(--t-maxH_2xl); }
  .maxH_2xl\:h:hover { max-height: var(--t-maxH_2xl-h); }
  .maxH_2xl\:f:focus { max-height: var(--t-maxH_2xl-f); }
  .maxH_2xl\:a:active { max-height: var(--t-maxH_2xl-a); }
  .maxH_2xl\:d:disabled { max-height: var(--t-maxH_2xl-d); }
}
