/* top */
.top { top: var(--t-top); }
.top\:h:hover { top: var(--t-top-h); }
.top\:f:focus { top: var(--t-top-f); }
.top\:a:active { top: var(--t-top-a); }
.top\:d:disabled { top: var(--t-top-d); }

@media (min-width: 640px) {
  .top { top: var(--t-top_sm, var(--t-top)); }
  .top\:h:hover { top: var(--t-top_sm-h, var(--t-top-h)); }
  .top\:f:focus { top: var(--t-top_sm-f, var(--t-top-f)); }
  .top\:a:active { top: var(--t-top_sm-a, var(--t-top-a)); }
  .top\:d:disabled { top: var(--t-top_sm-d, var(--t-top-d)); }
}

@media (min-width: 768px) {
  .top { top: var(--t-top_md, var(--t-top_sm, var(--t-top))); }
  .top\:h:hover { top: var(--t-top_md-h, var(--t-top_sm-h, var(--t-top-h))); }
  .top\:f:focus { top: var(--t-top_md-f, var(--t-top_sm-f, var(--t-top-f))); }
  .top\:a:active { top: var(--t-top_md-a, var(--t-top_sm-a, var(--t-top-a))); }
  .top\:d:disabled { top: var(--t-top_md-d, var(--t-top_sm-d, var(--t-top-d))); }
}

@media (min-width: 1024px) {
  .top { top: var(--t-top_lg, var(--t-top_md, var(--t-top_sm, var(--t-top)))); }
  .top\:h:hover { top: var(--t-top_lg-h, var(--t-top_md-h, var(--t-top_sm-h, var(--t-top-h)))); }
  .top\:f:focus { top: var(--t-top_lg-f, var(--t-top_md-f, var(--t-top_sm-f, var(--t-top-f)))); }
  .top\:a:active { top: var(--t-top_lg-a, var(--t-top_md-a, var(--t-top_sm-a, var(--t-top-a)))); }
  .top\:d:disabled { top: var(--t-top_lg-d, var(--t-top_md-d, var(--t-top_sm-d, var(--t-top-d)))); }
}

@media (min-width: 1280px) {
  .top { top: var(--t-top_xl, var(--t-top_lg, var(--t-top_md, var(--t-top_sm, var(--t-top))))); }
  .top\:h:hover { top: var(--t-top_xl-h, var(--t-top_lg-h, var(--t-top_md-h, var(--t-top_sm-h, var(--t-top-h))))); }
  .top\:f:focus { top: var(--t-top_xl-f, var(--t-top_lg-f, var(--t-top_md-f, var(--t-top_sm-f, var(--t-top-f))))); }
  .top\:a:active { top: var(--t-top_xl-a, var(--t-top_lg-a, var(--t-top_md-a, var(--t-top_sm-a, var(--t-top-a))))); }
  .top\:d:disabled { top: var(--t-top_xl-d, var(--t-top_lg-d, var(--t-top_md-d, var(--t-top_sm-d, var(--t-top-d))))); }
}

@media (min-width: 1536px) {
  .top { top: var(--t-top_2xl, var(--t-top_xl, var(--t-top_lg, var(--t-top_md, var(--t-top_sm, var(--t-top)))))); }
  .top\:h:hover { top: var(--t-top_2xl-h, var(--t-top_xl-h, var(--t-top_lg-h, var(--t-top_md-h, var(--t-top_sm-h, var(--t-top-h)))))); }
  .top\:f:focus { top: var(--t-top_2xl-f, var(--t-top_xl-f, var(--t-top_lg-f, var(--t-top_md-f, var(--t-top_sm-f, var(--t-top-f)))))); }
  .top\:a:active { top: var(--t-top_2xl-a, var(--t-top_xl-a, var(--t-top_lg-a, var(--t-top_md-a, var(--t-top_sm-a, var(--t-top-a)))))); }
  .top\:d:disabled { top: var(--t-top_2xl-d, var(--t-top_xl-d, var(--t-top_lg-d, var(--t-top_md-d, var(--t-top_sm-d, var(--t-top-d)))))); }
}

/* right */
.right { right: var(--t-right); }
.right\:h:hover { right: var(--t-right-h); }
.right\:f:focus { right: var(--t-right-f); }
.right\:a:active { right: var(--t-right-a); }
.right\:d:disabled { right: var(--t-right-d); }

@media (min-width: 640px) {
  .right { right: var(--t-right_sm, var(--t-right)); }
  .right\:h:hover { right: var(--t-right_sm-h, var(--t-right-h)); }
  .right\:f:focus { right: var(--t-right_sm-f, var(--t-right-f)); }
  .right\:a:active { right: var(--t-right_sm-a, var(--t-right-a)); }
  .right\:d:disabled { right: var(--t-right_sm-d, var(--t-right-d)); }
}

@media (min-width: 768px) {
  .right { right: var(--t-right_md, var(--t-right_sm, var(--t-right))); }
  .right\:h:hover { right: var(--t-right_md-h, var(--t-right_sm-h, var(--t-right-h))); }
  .right\:f:focus { right: var(--t-right_md-f, var(--t-right_sm-f, var(--t-right-f))); }
  .right\:a:active { right: var(--t-right_md-a, var(--t-right_sm-a, var(--t-right-a))); }
  .right\:d:disabled { right: var(--t-right_md-d, var(--t-right_sm-d, var(--t-right-d))); }
}

@media (min-width: 1024px) {
  .right { right: var(--t-right_lg, var(--t-right_md, var(--t-right_sm, var(--t-right)))); }
  .right\:h:hover { right: var(--t-right_lg-h, var(--t-right_md-h, var(--t-right_sm-h, var(--t-right-h)))); }
  .right\:f:focus { right: var(--t-right_lg-f, var(--t-right_md-f, var(--t-right_sm-f, var(--t-right-f)))); }
  .right\:a:active { right: var(--t-right_lg-a, var(--t-right_md-a, var(--t-right_sm-a, var(--t-right-a)))); }
  .right\:d:disabled { right: var(--t-right_lg-d, var(--t-right_md-d, var(--t-right_sm-d, var(--t-right-d)))); }
}

@media (min-width: 1280px) {
  .right { right: var(--t-right_xl, var(--t-right_lg, var(--t-right_md, var(--t-right_sm, var(--t-right))))); }
  .right\:h:hover { right: var(--t-right_xl-h, var(--t-right_lg-h, var(--t-right_md-h, var(--t-right_sm-h, var(--t-right-h))))); }
  .right\:f:focus { right: var(--t-right_xl-f, var(--t-right_lg-f, var(--t-right_md-f, var(--t-right_sm-f, var(--t-right-f))))); }
  .right\:a:active { right: var(--t-right_xl-a, var(--t-right_lg-a, var(--t-right_md-a, var(--t-right_sm-a, var(--t-right-a))))); }
  .right\:d:disabled { right: var(--t-right_xl-d, var(--t-right_lg-d, var(--t-right_md-d, var(--t-right_sm-d, var(--t-right-d))))); }
}

@media (min-width: 1536px) {
  .right { right: var(--t-right_2xl, var(--t-right_xl, var(--t-right_lg, var(--t-right_md, var(--t-right_sm, var(--t-right)))))); }
  .right\:h:hover { right: var(--t-right_2xl-h, var(--t-right_xl-h, var(--t-right_lg-h, var(--t-right_md-h, var(--t-right_sm-h, var(--t-right-h)))))); }
  .right\:f:focus { right: var(--t-right_2xl-f, var(--t-right_xl-f, var(--t-right_lg-f, var(--t-right_md-f, var(--t-right_sm-f, var(--t-right-f)))))); }
  .right\:a:active { right: var(--t-right_2xl-a, var(--t-right_xl-a, var(--t-right_lg-a, var(--t-right_md-a, var(--t-right_sm-a, var(--t-right-a)))))); }
  .right\:d:disabled { right: var(--t-right_2xl-d, var(--t-right_xl-d, var(--t-right_lg-d, var(--t-right_md-d, var(--t-right_sm-d, var(--t-right-d)))))); }
}

/* bottom */
.bottom { bottom: var(--t-bottom); }
.bottom\:h:hover { bottom: var(--t-bottom-h); }
.bottom\:f:focus { bottom: var(--t-bottom-f); }
.bottom\:a:active { bottom: var(--t-bottom-a); }
.bottom\:d:disabled { bottom: var(--t-bottom-d); }

@media (min-width: 640px) {
  .bottom { bottom: var(--t-bottom_sm, var(--t-bottom)); }
  .bottom\:h:hover { bottom: var(--t-bottom_sm-h, var(--t-bottom-h)); }
  .bottom\:f:focus { bottom: var(--t-bottom_sm-f, var(--t-bottom-f)); }
  .bottom\:a:active { bottom: var(--t-bottom_sm-a, var(--t-bottom-a)); }
  .bottom\:d:disabled { bottom: var(--t-bottom_sm-d, var(--t-bottom-d)); }
}

@media (min-width: 768px) {
  .bottom { bottom: var(--t-bottom_md, var(--t-bottom_sm, var(--t-bottom))); }
  .bottom\:h:hover { bottom: var(--t-bottom_md-h, var(--t-bottom_sm-h, var(--t-bottom-h))); }
  .bottom\:f:focus { bottom: var(--t-bottom_md-f, var(--t-bottom_sm-f, var(--t-bottom-f))); }
  .bottom\:a:active { bottom: var(--t-bottom_md-a, var(--t-bottom_sm-a, var(--t-bottom-a))); }
  .bottom\:d:disabled { bottom: var(--t-bottom_md-d, var(--t-bottom_sm-d, var(--t-bottom-d))); }
}

@media (min-width: 1024px) {
  .bottom { bottom: var(--t-bottom_lg, var(--t-bottom_md, var(--t-bottom_sm, var(--t-bottom)))); }
  .bottom\:h:hover { bottom: var(--t-bottom_lg-h, var(--t-bottom_md-h, var(--t-bottom_sm-h, var(--t-bottom-h)))); }
  .bottom\:f:focus { bottom: var(--t-bottom_lg-f, var(--t-bottom_md-f, var(--t-bottom_sm-f, var(--t-bottom-f)))); }
  .bottom\:a:active { bottom: var(--t-bottom_lg-a, var(--t-bottom_md-a, var(--t-bottom_sm-a, var(--t-bottom-a)))); }
  .bottom\:d:disabled { bottom: var(--t-bottom_lg-d, var(--t-bottom_md-d, var(--t-bottom_sm-d, var(--t-bottom-d)))); }
}

@media (min-width: 1280px) {
  .bottom { bottom: var(--t-bottom_xl, var(--t-bottom_lg, var(--t-bottom_md, var(--t-bottom_sm, var(--t-bottom))))); }
  .bottom\:h:hover { bottom: var(--t-bottom_xl-h, var(--t-bottom_lg-h, var(--t-bottom_md-h, var(--t-bottom_sm-h, var(--t-bottom-h))))); }
  .bottom\:f:focus { bottom: var(--t-bottom_xl-f, var(--t-bottom_lg-f, var(--t-bottom_md-f, var(--t-bottom_sm-f, var(--t-bottom-f))))); }
  .bottom\:a:active { bottom: var(--t-bottom_xl-a, var(--t-bottom_lg-a, var(--t-bottom_md-a, var(--t-bottom_sm-a, var(--t-bottom-a))))); }
  .bottom\:d:disabled { bottom: var(--t-bottom_xl-d, var(--t-bottom_lg-d, var(--t-bottom_md-d, var(--t-bottom_sm-d, var(--t-bottom-d))))); }
}

@media (min-width: 1536px) {
  .bottom { bottom: var(--t-bottom_2xl, var(--t-bottom_xl, var(--t-bottom_lg, var(--t-bottom_md, var(--t-bottom_sm, var(--t-bottom)))))); }
  .bottom\:h:hover { bottom: var(--t-bottom_2xl-h, var(--t-bottom_xl-h, var(--t-bottom_lg-h, var(--t-bottom_md-h, var(--t-bottom_sm-h, var(--t-bottom-h)))))); }
  .bottom\:f:focus { bottom: var(--t-bottom_2xl-f, var(--t-bottom_xl-f, var(--t-bottom_lg-f, var(--t-bottom_md-f, var(--t-bottom_sm-f, var(--t-bottom-f)))))); }
  .bottom\:a:active { bottom: var(--t-bottom_2xl-a, var(--t-bottom_xl-a, var(--t-bottom_lg-a, var(--t-bottom_md-a, var(--t-bottom_sm-a, var(--t-bottom-a)))))); }
  .bottom\:d:disabled { bottom: var(--t-bottom_2xl-d, var(--t-bottom_xl-d, var(--t-bottom_lg-d, var(--t-bottom_md-d, var(--t-bottom_sm-d, var(--t-bottom-d)))))); }
}

/* left */
.left { left: var(--t-left); }
.left\:h:hover { left: var(--t-left-h); }
.left\:f:focus { left: var(--t-left-f); }
.left\:a:active { left: var(--t-left-a); }
.left\:d:disabled { left: var(--t-left-d); }

@media (min-width: 640px) {
  .left { left: var(--t-left_sm, var(--t-left)); }
  .left\:h:hover { left: var(--t-left_sm-h, var(--t-left-h)); }
  .left\:f:focus { left: var(--t-left_sm-f, var(--t-left-f)); }
  .left\:a:active { left: var(--t-left_sm-a, var(--t-left-a)); }
  .left\:d:disabled { left: var(--t-left_sm-d, var(--t-left-d)); }
}

@media (min-width: 768px) {
  .left { left: var(--t-left_md, var(--t-left_sm, var(--t-left))); }
  .left\:h:hover { left: var(--t-left_md-h, var(--t-left_sm-h, var(--t-left-h))); }
  .left\:f:focus { left: var(--t-left_md-f, var(--t-left_sm-f, var(--t-left-f))); }
  .left\:a:active { left: var(--t-left_md-a, var(--t-left_sm-a, var(--t-left-a))); }
  .left\:d:disabled { left: var(--t-left_md-d, var(--t-left_sm-d, var(--t-left-d))); }
}

@media (min-width: 1024px) {
  .left { left: var(--t-left_lg, var(--t-left_md, var(--t-left_sm, var(--t-left)))); }
  .left\:h:hover { left: var(--t-left_lg-h, var(--t-left_md-h, var(--t-left_sm-h, var(--t-left-h)))); }
  .left\:f:focus { left: var(--t-left_lg-f, var(--t-left_md-f, var(--t-left_sm-f, var(--t-left-f)))); }
  .left\:a:active { left: var(--t-left_lg-a, var(--t-left_md-a, var(--t-left_sm-a, var(--t-left-a)))); }
  .left\:d:disabled { left: var(--t-left_lg-d, var(--t-left_md-d, var(--t-left_sm-d, var(--t-left-d)))); }
}

@media (min-width: 1280px) {
  .left { left: var(--t-left_xl, var(--t-left_lg, var(--t-left_md, var(--t-left_sm, var(--t-left))))); }
  .left\:h:hover { left: var(--t-left_xl-h, var(--t-left_lg-h, var(--t-left_md-h, var(--t-left_sm-h, var(--t-left-h))))); }
  .left\:f:focus { left: var(--t-left_xl-f, var(--t-left_lg-f, var(--t-left_md-f, var(--t-left_sm-f, var(--t-left-f))))); }
  .left\:a:active { left: var(--t-left_xl-a, var(--t-left_lg-a, var(--t-left_md-a, var(--t-left_sm-a, var(--t-left-a))))); }
  .left\:d:disabled { left: var(--t-left_xl-d, var(--t-left_lg-d, var(--t-left_md-d, var(--t-left_sm-d, var(--t-left-d))))); }
}

@media (min-width: 1536px) {
  .left { left: var(--t-left_2xl, var(--t-left_xl, var(--t-left_lg, var(--t-left_md, var(--t-left_sm, var(--t-left)))))); }
  .left\:h:hover { left: var(--t-left_2xl-h, var(--t-left_xl-h, var(--t-left_lg-h, var(--t-left_md-h, var(--t-left_sm-h, var(--t-left-h)))))); }
  .left\:f:focus { left: var(--t-left_2xl-f, var(--t-left_xl-f, var(--t-left_lg-f, var(--t-left_md-f, var(--t-left_sm-f, var(--t-left-f)))))); }
  .left\:a:active { left: var(--t-left_2xl-a, var(--t-left_xl-a, var(--t-left_lg-a, var(--t-left_md-a, var(--t-left_sm-a, var(--t-left-a)))))); }
  .left\:d:disabled { left: var(--t-left_2xl-d, var(--t-left_xl-d, var(--t-left_lg-d, var(--t-left_md-d, var(--t-left_sm-d, var(--t-left-d)))))); }
}
