.button {
  transition-duration: 150ms;
  transition-property: background-color, border-color, opacity;
  transition-timing-function: ease-in-out;
}

.solid:hover:not(:disabled) {
  background-color: var(--button-hover-bg);
}

.outline:hover:not(:disabled) {
  background-color: var(--button-hover-bg);
}

.ghost:hover:not(:disabled) {
  background-color: var(--button-hover-bg);
}
