.container {
  line-height: 0;
}

.skeleton {
  position: absolute;
  inset: 0;
}

.image {
  width: 100%;
  height: 100%;
  display: block;
}

.hidden {
  opacity: 0;
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}

.fill {
  object-fit: fill;
}

.none {
  object-fit: none;
}

.placeholder {
  min-height: 100px;
}

.placeholderIcon {
  width: 48px;
  height: 48px;
  opacity: 0.5;
}
